<head>
  <title>Travel Summary - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="assets/travel/scss/style.css" /> -->
</head>

<body>
  <aside class="menu slide-menu-left">
    <div class="leftlogodiv">
      <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
    </div>
    <div id="leftaccord" class="leftaccordmenu">
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#leftcollapseOne">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseOne" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a href="#">submenu 1</a>
            </li>
            <li>
              <a href="#">submenu 2</a>
            </li>
            <li>
              <a href="#">submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#leftcollapseTwo">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseTwo" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a href="#">submenu 1</a>
            </li>
            <li>
              <a href="#">submenu 2</a>
            </li>
            <li>
              <a href="#">submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
    </div>
  </aside>
  <header class="container-fluid fixed-top">
    <div class="row" style="margin-bottom: 0px;">
      <div class="container">
        <div class="row" style="margin-bottom: 0px;">
          <div class="col-10">
            <h1>
              <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
            </h1>
          </div>
          <div class="col-2 text-center twobtns">
            <a (click)="home($event)" class="auto_height"><span style="font-weight: bold; color:white;">HOME</span></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <ion-content>
    <div class="container-fluid maindiv">
      <div class="row" style="margin-bottom: 0px;">
        <section class="container headingsec">
          <h2>Summary</h2>
        </section>
        <section class="container accordsec">
          <div id="accordion">
            <div class="card">
              <div>
                <div class="card-body cstmbody text-center">
                  <table class="premTable">
                    <thead>
                      <tr>
                        <th class="text-center" colspan="2">
                          Total Premium for {{request.TripDuration}} Day(s)
                          <!-- <a href="#" title="Share" class="float-right">
                          <img src="assets/images/share.png" alt="Share" />
                        </a> -->
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center" colspan="2">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.333 24.053">
                            <path
                              d="M10.873 2.272h3.948L16.333 0H1.512L0 2.272h2.573c2.606 0 5.011.2 5.973 2.381H1.512L0 6.926h8.829v.015c0 1.633-1.357 4.138-5.839 4.138H.822v2.123l8.684 10.854h3.867L4.388 12.824c3.7-.2 7.17-2.267 7.67-5.9h2.763l1.512-2.273h-4.315a5.02 5.02 0 0 0-1.145-2.379z"
                              fill="#4b4b4b" /></svg>
                          <strong>{{response.PremiumPayable}}</strong>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="text-left">
                          <label>Basic Premium</label>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401.998 401.998">
                            <path
                              d="M326.62 91.076c-1.711-1.713-3.901-2.568-6.563-2.568h-48.82c-3.238-15.793-9.329-29.502-18.274-41.112h66.52c2.669 0 4.853-.856 6.57-2.565 1.704-1.712 2.56-3.903 2.56-6.567V9.136c0-2.666-.855-4.853-2.56-6.567C324.334.859 322.15 0 319.481 0H81.941c-2.666 0-4.853.859-6.567 2.568-1.709 1.714-2.568 3.901-2.568 6.567v37.972c0 2.474.904 4.615 2.712 6.423s3.949 2.712 6.423 2.712h41.399c40.159 0 65.665 10.751 76.513 32.261H81.941c-2.666 0-4.856.855-6.567 2.568-1.709 1.715-2.568 3.901-2.568 6.567v29.124c0 2.664.855 4.854 2.568 6.563 1.714 1.715 3.905 2.568 6.567 2.568h121.915c-4.188 15.612-13.944 27.506-29.268 35.691-15.325 8.186-35.544 12.279-60.67 12.279H81.941c-2.474 0-4.615.905-6.423 2.712-1.809 1.809-2.712 3.951-2.712 6.423v36.263c0 2.478.855 4.571 2.568 6.282 36.543 38.828 83.939 93.165 142.182 163.025 1.715 2.286 4.093 3.426 7.139 3.426h55.672c4.001 0 6.763-1.708 8.281-5.141 1.903-3.426 1.53-6.662-1.143-9.708-55.572-68.143-99.258-119.153-131.045-153.032 32.358-3.806 58.625-14.277 78.802-31.404 20.174-17.129 32.449-39.403 36.83-66.811h47.965c2.662 0 4.853-.854 6.563-2.568 1.715-1.709 2.573-3.899 2.573-6.563V97.646c0-2.669-.858-4.856-2.573-6.57z"
                              data-original="#000000" data-old_color="#0f0f0f" fill="#0f0f0f" /></svg>
                          <span>{{response.BasicPremium}}</span>
                        </td>
                        <td class="text-right">
                          <label>GST</label>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401.998 401.998">
                            <path
                              d="M326.62 91.076c-1.711-1.713-3.901-2.568-6.563-2.568h-48.82c-3.238-15.793-9.329-29.502-18.274-41.112h66.52c2.669 0 4.853-.856 6.57-2.565 1.704-1.712 2.56-3.903 2.56-6.567V9.136c0-2.666-.855-4.853-2.56-6.567C324.334.859 322.15 0 319.481 0H81.941c-2.666 0-4.853.859-6.567 2.568-1.709 1.714-2.568 3.901-2.568 6.567v37.972c0 2.474.904 4.615 2.712 6.423s3.949 2.712 6.423 2.712h41.399c40.159 0 65.665 10.751 76.513 32.261H81.941c-2.666 0-4.856.855-6.567 2.568-1.709 1.715-2.568 3.901-2.568 6.567v29.124c0 2.664.855 4.854 2.568 6.563 1.714 1.715 3.905 2.568 6.567 2.568h121.915c-4.188 15.612-13.944 27.506-29.268 35.691-15.325 8.186-35.544 12.279-60.67 12.279H81.941c-2.474 0-4.615.905-6.423 2.712-1.809 1.809-2.712 3.951-2.712 6.423v36.263c0 2.478.855 4.571 2.568 6.282 36.543 38.828 83.939 93.165 142.182 163.025 1.715 2.286 4.093 3.426 7.139 3.426h55.672c4.001 0 6.763-1.708 8.281-5.141 1.903-3.426 1.53-6.662-1.143-9.708-55.572-68.143-99.258-119.153-131.045-153.032 32.358-3.806 58.625-14.277 78.802-31.404 20.174-17.129 32.449-39.403 36.83-66.811h47.965c2.662 0 4.853-.854 6.563-2.568 1.715-1.709 2.573-3.899 2.573-6.563V97.646c0-2.669-.858-4.856-2.573-6.57z"
                              data-original="#000000" data-old_color="#0f0f0f" fill="#0f0f0f" /></svg>
                          <span>{{response.TotalGSTAmt}}</span>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" (click)="showJourneyDetails($event)">
                <a class="card-link collapsed" id="journey">Journey Details</a>
              </div>
              <div class="collapse show" *ngIf="isJourneyDetails">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Policy Type</label>
                      <input type="text" class="form-control" placeholder="International Travel" readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Sub-Plan Name</label>
                      <input type="text" class="form-control" [(ngModel)]="subPlanName" readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Duration of Trip (Days)</label>
                      <input type="text" class="form-control" [(ngModel)]="request.TripDuration" readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Number of Traveller</label>
                      <input type="text" class="form-control" [(ngModel)]="request.NoOfTravelers" readonly />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" (click)="showInsuredDetails($event)">
                <a class="card-link collapsed" id="insured">Insured - 1 Details</a>
              </div>
              <div class="collapse show" *ngIf="isInsuredDetails">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Full Name</label>
                      <input type="text" class="form-control" [(ngModel)]="travelPropReq.Members[0].InsuredName"
                        readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Relationship With Applicant</label>
                      <input type="text" class="form-control" [(ngModel)]="travelPropReq.Members[0].RelationshipName"
                        readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Date of Birth</label>
                      <input type="text" class="form-control" [(ngModel)]="travelPropReq.Members[0].DateOfBirth"
                        readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Passport Number</label>
                      <input type="text" class="form-control" [(ngModel)]="travelPropReq.Members[0].PassportNumber"
                        readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Any pre-existing Disease ?</label>
                      <input type="text" class="form-control" [(ngModel)]="travelPropReq.Members[0].AilmentName"
                        readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Nominee Name</label>
                      <input type="text" class="form-control" [(ngModel)]="travelPropReq.Members[0].NomineeName"
                        readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Relationship with nominee</label>
                      <input type="text" class="form-control" [(ngModel)]="travelPropReq.Members[0].RelationshipName"
                        readonly />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" (click)="showApplicantDetails($event)">
                <a class="card-link collapsed" id="applicant">Applicant Details</a>
              </div>
              <div class="collapse show" *ngIf="isApplicantDetails">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Applicant Full Name</label>
                      <input type="text" class="form-control" [(ngModel)]="createCustReq.Name" readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Address Line 1</label>
                      <input type="text" class="form-control" [(ngModel)]="createCustReq.PresentAddrLine1" readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Address Line 2</label>
                      <input type="text" class="form-control" [(ngModel)]="createCustReq.PresentAddrLine2" readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Landmark</label>
                      <input type="text" class="form-control" [(ngModel)]="createCustReq.PresentAddrLandmark"
                        readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>City</label>
                      <input type="text" class="form-control" [(ngModel)]="createCustReq.PresentAddrCityText"
                        readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>State</label>
                      <input type="text" class="form-control" [(ngModel)]="createCustReq.PresentAddrStateText"
                        readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Pincode</label>
                      <input type="text" class="form-control" [(ngModel)]="createCustReq.PresentAddrPincodeText"
                        readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Email</label>
                      <input type="text" class="form-control" [(ngModel)]="createCustReq.EmailAddress" readonly />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 form-group">
                      <label>Mobile Number</label>
                      <input type="text" class="form-control" [(ngModel)]="createCustReq.MobileNumber" readonly />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" *ngIf='flowType =="A"'>
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseFLow">Partner Details</a>
              </div>
              <div id="collapseFLow" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                      <label>Customer Identification number <sup>*</sup></label>
                      <input type="text" class="form-control" [(ngModel)]="cust_identification_no"
                        placeholder="Enter customer identification number" />
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                      <label>SP Code <sup>*</sup></label>
                      <input type="text" class="form-control" [(ngModel)]="sp_code" placeholder="Enter sp code" />
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                      <label>SP Name <sup>*</sup></label>
                      <input type="text" class="form-control" [(ngModel)]="sp_name" placeholder="Enter sp name" />
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                      <label>LG code <sup>*</sup></label>
                      <input type="text" class="form-control" [(ngModel)]="lg_code" placeholder="Enter lg code" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                      <label>Branch Code <sup>*</sup></label>
                      <input type="text" class="form-control" [(ngModel)]="branch_code"
                        placeholder="Enter branch code" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 form-group">
                    <small>1. The insured(s) covered under this policy is/are not travelling as a pilot or as an
                      operator or as a crew member. Furthermore, the insured(s) is/are not visiting abroad for the
                      purpose of Aviation Studies or Mountaineering or any form of Adventure Sports.</small>
                  </div>
                  <div class="col-12 form-group">
                    <small>2. I do hereby declare that I have read and understood the entire text, features,
                      disclosures, benefits, terms and conditions of the policy and I further declare that the
                      information furnished above are true to the best of my knowledge and no material information,
                      which may be relevant, has been withheld or not disclosed. In case any of the information above is
                      found false during verification at a later date, the company would have the right to cancel the
                      policy and premium amount paid will be forfeited.</small>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <table class="agreeTable">
                      <tr>
                        <td>
                          <input type="checkbox" id="iacceptterms" checked="checked" />
                          <label for="iacceptterms"></label>
                        </td>
                        <td>
                          <label for="iacceptterms" class="auto_height">I accept the Declaration and agree to the Terms
                            &amp; Condition</label>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <!-- <div class="col-xl-6 col-lg-4 col-md-4 col-sm-4 col-12">
                    <table class="agreeTable">
                      <tr>
                        <td>
                          <input type="checkbox" id="custSign" checked="checked" />
                          <label for="custSign"></label>
                        </td>
                        <td>
                          <label for="custSign" class="auto_height">Customer Signature</label>
                        </td>
                      </tr>
                    </table>
                  </div> -->
                </div>
                <div class="text-center twobtns">
                  <button type="button" id="btnPay" class="cstmbtn" (click)="instaPay($event)" *ngIf="isInstaPay">Insta
                    Pay</button>
                  <button type="button" id="btnPay" class="cstmbtn" (click)="payNow()">Pay Now</button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div id="myNav2" class="overlay" *ngIf="instaPaydata">
          <div class="overlay-content">
            <div style="margin-top: 15%; padding: 0 15%;">
              <!-- class="container-fluid maindiv" -->
              <div class="row" style="margin-bottom: 0px;">
                <section class="container accordsec">
                  <div id="accordion">
                    <div class="card" style="margin-top: 15px; background: #fff">
                      <div class="card-header">
                        <a>
                          Insta Deal Details
                        </a>
                      </div>
                      <div class="collapse show">
                        <div class="card-body" style="padding: 5px 5px">
                          <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                              <table>
                                <tr style="border-bottom: none;">
                                  <th class="th1">Total Insta Credit</th>
                                  <th class="th1">{{instaPaydata.TotalCreditLimit}}</th>
                                </tr>
                                <tr style="border-bottom: none;">
                                  <th class="th1">Consumed Credit</th>
                                  <th class="th1">{{instaPaydata.ConsumedCreditLimit}}</th>
                                </tr>
                                <tr style="border-bottom: none;">
                                  <th class="th1">Available Credit</th>
                                  <th class="th1">{{instaPaydata.Balance}}</th>
                                </tr>
                                <tr style="border-bottom: none;">
                                  <th class="th1">Total Premium</th>
                                  <th class="th1">{{response.PremiumPayable}}</th>
                                </tr>
                              </table>
                              <div class="text-center twobtns" style="margin-top:5px;">
                                <button type="button" id="btnPay" class="cstmbtn"
                                  (click)="close($event)">Cancel</button>
                                <button type="button" id="btnPay" class="cstmbtn"
                                  (click)="instaPayment($event)">Pay</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <script>
    (function (window) {
      'use strict';
      var body = document.body,
        mask = document.createElement("div"),
        toggleSlideLeft = document.querySelector(".toggle-slide-left"),
        activeNav;
      mask.className = "mask";

      /* slide menu left */
      toggleSlideLeft.addEventListener("click", function () {
        classie.add(body, "sml-open");
        document.body.appendChild(mask);
        activeNav = "sml-open";
      });

      /* hide active menu if mask is clicked */
      mask.addEventListener("click", function () {
        classie.remove(body, activeNav);
        activeNav = "";
        document.body.removeChild(mask);
      });

      /* hide active menu if close menu button is clicked */
      [].slice.call(document.querySelectorAll(".close-menu")).forEach(function (el, i) {
        el.addEventListener("click", function () {
          classie.remove(body, activeNav);
          activeNav = "";
          document.body.removeChild(mask);
        });
      });
    })(window);
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>