.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    // top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 15%;
    right: 45px;
    font-size: 60px;
  }

//   .overlay .modal{
//     margin-top: 5%;
//     width: 80%;
//     background: firebrick;
//     border-radius: 5%;
//   }

  .th1{
    padding-left: 5%;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: left;
    width: 50%;
  }