@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif !important;
}

body.modal-open {
  padding-right: 0 !important;
}

.no_border {
  border: 0 !important;
}

.auto_height {
  height: auto !important;
  vertical-align: initial !important;
}

.no_padding {
  padding: 0 !important;
}

.no_margin {
  margin: 0 !important;
}

.no_bg {
  background: none !important;
}

.no_boxshadow {
  box-shadow: 0 0 0 0 !important;
  -webkit-box-shadow: 0 0 0 0 !important;
  -moz-box-shadow: 0 0 0 0 !important;
}

.primary_color {
  color: #9e2626 !important;
}

.secondary_color {
  color: #4b4b4b !important;
}

.invisible {
  visibility: hidden;
}

.datepicker-dropdown {
  z-index: 2000 !important;
}

.orline {
  width: 90%;
  margin: 0 auto;
  display: block;
  position: relative;
  text-align: center;
}

.orline:before {
  content: '';
  width: 47.3%;
  height: 2px;
  position: absolute;
  left: 0;
  background-color: #fff;
}

.orline:after {
  content: '';
  width: 47.3%;
  height: 2px;
  position: absolute;
  right: 0;
  background-color: #fff;
}

.orline span {
  width: 42px;
  height: 23px;
  padding: 5px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  display: inline-block;
  position: relative;
  top: -12px;
  z-index: 1;
  background-color: #fff;
  color: #b02929;
  font: normal 12px "Roboto", sans-serif;
}

.loaderdiv {
  width: 170px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.alertMsg {
  padding: 7px 0 7px 50px;
  border-bottom: 1px solid rgba(75, 75, 75, 0.3);
  display: block;
  background: url(/assets/images/alert.png) no-repeat 10px center/30px;
  color: #4b4b4b;
  font: normal 13px/18px "Roboto", sans-serif;
}

/*aside starts*/
aside.slide-menu-left {
  top: 0;
  width: 250px;
  height: 100%;
  position: fixed;
  left: -300px;
  z-index: 1050;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  -webkit-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  -moz-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  -webkit-transition: left 0.5s cubic-bezier(0.99, 0.03, 0.58, 1);
  transition: left 0.5s cubic-bezier(0.99, 0.03, 0.58, 1);
}

aside.slide-menu-left .leftlogodiv {
  padding: 30px 15px;
  background-color: #011d36;
  text-align: center;
}

aside.slide-menu-left .leftaccordmenu {
  height: 100%;
  overflow-y: auto;
}

aside.slide-menu-left .leftaccordmenu .card {
  border: 0;
  margin: 0;
  background-color: transparent;
}

aside.slide-menu-left .leftaccordmenu .card .card-header {
  padding: 0;
  border-bottom: 0;
}

aside.slide-menu-left .leftaccordmenu .card a {
  padding: 15px 15px 15px 35px;
  border-bottom: 1px solid #b7b7b7;
  display: block;
  position: relative;
  color: #931f1f;
  font: 500 14px "Roboto", sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

aside.slide-menu-left .leftaccordmenu .card a svg {
  width: 11px;
  position: absolute;
  top: 50%;
  right: 15px;
  fill: #5C5E60;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

aside.slide-menu-left .leftaccordmenu .card a img {
  padding-right: 5px;
}

aside.slide-menu-left .leftaccordmenu .card a[aria-expanded="true"] {
  background-color: #ae2221;
  color: #fff;
}

aside.slide-menu-left .leftaccordmenu .card a[aria-expanded="true"] svg {
  fill: #fff;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

aside.slide-menu-left .leftaccordmenu .leftsubmenus {
  margin: 0;
}

aside.slide-menu-left .leftaccordmenu .leftsubmenus li {
  border: 0;
}

aside.slide-menu-left .leftaccordmenu .leftsubmenus li a {
  padding: 10px 10px 10px 50px;
  display: block;
  color: #931f1f;
  font: 400 14px "Roboto", sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
}

body.sml-open aside.slide-menu-left {
  left: 0;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
}

/*aside ends*/
/*Header Starts*/
header {
  background-color: #931f1f;
}

header a.hamburger {
  width: 75px;
  height: 58px;
  padding: 19px 21px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

header a.hamburger span {
  width: 16px;
  height: 3px;
  margin-bottom: 5px;
  display: block;
  background-color: #ad2121;
}

header a.hamburger span:first-child {
  width: 23px;
}

header a.hamburger span:last-child {
  width: 8px;
}

header h1 {
  margin: 0;
  display: inline-block;
}

header h1 a {
  width: 200px;
  height: auto;
  padding: 10px 0;
  display: inline-block;
  background: url(/assets/images/logo-white.png) no-repeat center center/contain;
  text-indent: -9999px;
}

/*Header Ends*/
/*Login Starts*/
.signdiv {
  height: 100vh;
  position: relative;
  background: #fca6a7 url(/assets/images/login_bg.png) no-repeat;
  background-size: cover;
}

.signdiv .logodiv {
  margin: 57px 0;
}

.signdiv .logodiv a {
  display: inline-block;
}

.signdiv .formdiv {
  width: 100%;
  padding: 0 50px;
  position: absolute;
  top: 80%;
  -webkit-transform: translateY(-80%);
  transform: translateY(-80%);
}

.signdiv .formdiv h1 {
  margin: 0 0 25px;
  color: #04447e;
  font: 600 15px "Roboto", sans-serif;
}

.signdiv .formdiv .form-group {
  margin-bottom: 11px;
  position: relative;
}

.signdiv .formdiv .form-group .form-control, .signdiv .formdiv .form-group .maindiv .accordsec .card .card-body .custom-select, .maindiv .accordsec .card .card-body .signdiv .formdiv .form-group .custom-select {
  height: 43px;
  padding-left: 45px;
  border: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  -webkit-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  -moz-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  color: #6a6a6a;
  font: normal 13px "Roboto", sans-serif;
}

.signdiv .formdiv .form-group svg {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.signdiv .formdiv .form-group select.form-control, .signdiv .formdiv .form-group .maindiv .accordsec .card .card-body select.custom-select, .maindiv .accordsec .card .card-body .signdiv .formdiv .form-group select.custom-select {
  padding-left: 0.75rem;
  background: #04447e;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  color: #fff;
  -ms-text-align-last: center;
  text-align-last: center;
}

.signdiv .formdiv .custom-control {
  padding-right: 5px;
  margin-bottom: 20px;
}

.signdiv .formdiv .custom-control label {
  color: #04447e;
  font: normal 11px "Roboto", sans-serif;
}

.signdiv .formdiv .custom-control label:before, .signdiv .formdiv .custom-control label:after {
  top: -3px;
}

.signdiv .formdiv .custom-control .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #b02a30;
  background-color: #b02a30;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.signdiv .formdiv .loginbtn {
  height: 43px;
  border: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #931f1f;
  color: #fff;
  font: 400 13px "Roboto", sans-serif;
  outline: 0 !important;
}

/*Login Ends*/
/*Main Content Starts*/
.cstmbtn {
  min-width: 130px;
  padding: 10px 25px;
  border: 0;
  border-radius:22px;
  background: #ac3030;
  background: -moz-linear-gradient(left,  #ac3030 0%, #881717 100%);
  background: -webkit-linear-gradient(left,  #ac3030 0%,#881717 100%);
  background: linear-gradient(to right,  #ac3030 0%,#881717 100%);
	color: #fff;
  font: 400 14px "Roboto", sans-serif;
  letter-spacing: 1px;
  outline: 0 !important;
  text-decoration: none;
  text-transform: uppercase;
}

.cstmbtn:active,.cstmbtn:hover {
  background: #ac3030;
  background: -moz-linear-gradient(left,  #931f1f 0%, #ac3030 100%);
  background: -webkit-linear-gradient(left,  #931f1f 0%,#ac3030 100%);
  background: linear-gradient(to right,  #931f1f 0%,#ac3030 100%);
}

.twobtns {
  margin-top: 20px;
}

.maindiv {
  min-height: 100vh;
  padding-top: 68px;
  /* background: #FFFBF9 url(/assets/images/desktop_bg.jpg) no-repeat fixed left bottom/cover; */
}

.maindiv .headingsec {
  padding: 13px;
}

.maindiv .headingsec h2 {
  margin: 0;
  color: #063b6d;
  font: 500 20px "Roboto", sans-serif;
  text-transform: capitalize;
}

.maindiv .accordsec {
  margin-bottom: 30px;
}

.maindiv .accordsec .card {
  border: solid 1px #eaeaea;  
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2)  !important;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2) !important;
}

.maindiv .accordsec .card label {
  color: #939393;
  font: normal 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-header {
  padding: 0;
  margin: 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #eaeaea;
}

.maindiv .accordsec .card .card-header a {
  padding: 14px 14px 14px 80px;
  display: block;
  color: #ad2121;
  font: 600 16px "Roboto", sans-serif;
  text-transform: capitalize;
  background-position: 95% center !important;
}

.maindiv .accordsec .card .card-header a.card-link {
  background: url(/assets/images/minus.png) no-repeat 98.5% center;
}

.maindiv .accordsec .card .card-header a.card-link.collapsed {
  background: url(/assets/images/plus.png) no-repeat 98.5% center;
}

.maindiv .accordsec .card .card-body {
  margin-top: 7px;
  padding: 15px 40px 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #fff;
}

.maindiv .accordsec .card .card-body.cstmbody {
  padding: 15px 15px 10px;
}

.maindiv .accordsec .card .card-body.agreeBody {
  padding: 10px 70px;
}

.cardHeigth{
  padding: 15px 70px 3px !important;
}

.maindiv .accordsec .card .card-body .successMsg {
  margin-bottom: 30px;
  display: inline-block;
  color: #4b4b4b;
  font: 500 16px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .dob .form-control, .maindiv .accordsec .card .card-body .dob .custom-select {
  padding-left: 0;
  border: 0;
  background: transparent url(/assets/images/calendar.png) no-repeat right center;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  color: #4b4b4b;
  font: normal 28px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .dob2 .form-control, .maindiv .accordsec .card .card-body .dob2 .custom-select {
  background: transparent url(/assets/images/calendar.png) no-repeat right center;
}

.maindiv .accordsec .card .card-body .rangediv strong {
  display: block;
  color: #4b4b4b;
  font: 500 28px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .rangediv span {
  color: #4b4b4b;
  font: normal 15px "Roboto", sans-serif;
  text-transform: uppercase;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .rangediv input[type=range] {
  background-color: transparent !important;
}

.maindiv .accordsec .card .card-body .rangediv input[type=range]::-moz-range-thumb {
  background: #931f1f;
}

.maindiv .accordsec .card .card-body .rangediv input[type=range]::-moz-range-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.maindiv .accordsec .card .card-body .rangediv input[type=range]:focus::-moz-range-thumb {
  box-shadow: 0 0 4px 0px #931f1f;
  -webkit-box-shadow: 0 0 4px 0px #931f1f;
  -moz-box-shadow: 0 0 4px 0px #931f1f;
}

.maindiv .accordsec .card .card-body .rangediv input[type=range]::-ms-thumb {
  background: #931f1f;
}

.maindiv .accordsec .card .card-body .rangediv input[type=range]::-ms-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.maindiv .accordsec .card .card-body .rangediv input[type=range]:focus::-ms-thumb {
  box-shadow: 0 0 4px 0px #931f1f;
  -webkit-box-shadow: 0 0 4px 0px #931f1f;
  -moz-box-shadow: 0 0 4px 0px #931f1f;
}

.maindiv .accordsec .card .card-body .rangediv input[type=range]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff;
  background: #931f1f;
  margin-top: -6px;
}

.maindiv .accordsec .card .card-body .rangediv input[type=range]::-webkit-slider-runnable-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.maindiv .accordsec .card .card-body .rangediv input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 4px 0px #931f1f;
  -webkit-box-shadow: 0 0 4px 0px #931f1f;
  -moz-box-shadow: 0 0 4px 0px #931f1f;
}

.maindiv .accordsec .card .card-body .searchbox {
  padding-left: 30px;
  background: url(../images/search.png) no-repeat left 11px/20px;
}

.maindiv .accordsec .card .card-body .searchbox input {
  border-bottom: 1px solid #E4D2C5;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font: 400 16px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .quotes_table {
  width: 100%;
  border-collapse: separate;
}

.maindiv .accordsec .card .card-body .quotes_table tr > td {
  padding: 10px;
  border: solid 1px #d0c0b6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.maindiv .accordsec .card .card-body .quotes_table table {
  width: 100%;
}

.maindiv .accordsec .card .card-body .quotes_table table tr th {
  color: #4b4b4b;
  font: normal 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .quotes_table table tr th h6 {
  color: #4b4b4b;
  font: 500 16px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .quotes_table table tr td {
  padding: 3px;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: #9e2626;
  font: 500 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .quotes_table table tr td button {
  padding: 5px 8px;
  border: 0;
  margin-right: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #a72020;
  color: #fff;
  font: 500 12px "Roboto", sans-serif;
  outline: 0;
  text-transform: capitalize;
}

.maindiv .accordsec .card .card-body .quotes_table table tr td label {
  padding: 5px 10px;
  border: solid 1px #d0c0b6;
  margin: 0 3px 0 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: inline-block;
  color: #4b4b4b;
  font: 500 12px "Roboto", sans-serif;
  vertical-align: baseline;
}

.maindiv .accordsec .card .card-body .quotes_table table tr td a {
  display: inline-block;
}

.maindiv .accordsec .card .card-body .monthly_table {
  width: 100%;
  border-collapse: separate;
  text-align: center;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd {
  padding: 0;
  border: 1px solid rgba(176, 41, 41, 0.53);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable {
  width: 100%;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr td table {
  width: 100%;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr td table tr th {
  padding: 10px 5px;
  color: #4b4b4b;
  font: 500 16px "Roboto", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr td table tr td {
  padding: 10px 5px;
  color: #a72020;
  font: 500 16px "Roboto", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr:first-child tr th {
  border-bottom: 2px solid #D9C9BC;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr:first-child tr th:first-child {
  border-right: 2px solid #D9C9BC;
}

.maindiv .accordsec .card .card-body .custom-select {
  padding-right: 17px;
  /** right **/
  background: url(/assets/images/down_arrow.png) no-repeat right center/14px !important;
}

.maindiv .accordsec .card .card-body .statediv select {
  padding-left: 0;
  border: 0;
  background-color: transparent;
  color: #4b4b4b;
  font: normal 26px "Roboto", sans-serif;
  background: url(/assets/images/down_arrow.png) no-repeat right center/14px;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.maindiv .accordsec .card .card-body .statediv select option {
  font-size: 15px;
}

.maindiv .accordsec .card .card-body .statediv select:disabled {
  background: none;
}

.maindiv .accordsec .card .card-body .form-control, .maindiv .accordsec .card .card-body .custom-select {
  padding-left: 0;
  border: 0;
  background: transparent;
  color: #4b4b4b;
  font: 500 20px "Roboto", sans-serif;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  border-bottom: 1px solid #EDEDED;
}

.maindiv .accordsec .card .card-body .form-control#annSuminsured, .maindiv .accordsec .card .card-body #annSuminsured.custom-select, .maindiv .accordsec .card .card-body .form-control.rupeesmbl, .maindiv .accordsec .card .card-body .rupeesmbl.custom-select {
  padding-left: 15px;
  background: url(/assets/images/rupee.png) no-repeat left center;
}

.maindiv .accordsec .card .card-body .chkboxdiv input {
  display: none;
}

.maindiv .accordsec .card .card-body .chkboxdiv input:checked + label {
  background: url(/assets/images/man_check.png) no-repeat center center;
}

.maindiv .accordsec .card .card-body .chkboxdiv .form-check-inline {
  margin-right: 10px;
}

.maindiv .accordsec .card .card-body .chkboxdiv label {
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url(/assets/images/man_uncheck.png) no-repeat center center;
  cursor: pointer;
}

.maindiv .accordsec .card .card-body .chkboxdiv.chldbox input:checked + label {
  background: url(/assets/images/child_check.png) no-repeat center center;
}

.maindiv .accordsec .card .card-body .chkboxdiv.chldbox label {
  background: url(/assets/images/child_uncheck.png) no-repeat center center;
}

.maindiv .accordsec .card .card-body .radioboxdiv input {
  display: none;
}

.maindiv .accordsec .card .card-body .radioboxdiv input:checked + label {
  color: #4b4b4b;
}

.maindiv .accordsec .card .card-body .radioboxdiv .form-check-inline {
  margin-right: 10px;
}

.maindiv .accordsec .card .card-body .radioboxdiv label {
  display: inline-block;
  font: 500 16px "Roboto", sans-serif;
  color: rgba(75, 75, 75, 0.5);
  cursor: pointer;
}

.maindiv .accordsec .card .card-body .radioboxdiv2 ul {
  padding: 0;
  margin: 0;
}

.maindiv .accordsec .card .card-body .radioboxdiv2 ul li {
  display: inline-block;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .radioboxdiv2 ul li input {
  display: none;
}

.maindiv .accordsec .card .card-body .radioboxdiv2 ul li input:checked + label:after {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #ad2121;
}

.maindiv .accordsec .card .card-body .radioboxdiv2 ul li label {
  position: relative;
  color: #4b4b4b;
  cursor: pointer;
  font: 500 15px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .radioboxdiv2 ul li label:before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid #9A9896;
  background-color: #fff;
  vertical-align: text-bottom;
}

.maindiv .accordsec .card .card-body .travelradiodiv input {
  display: none;
}

.maindiv .accordsec .card .card-body .travelradiodiv input:checked + label {
  border: solid 2px #b25d5a;
  border-bottom: 0;
  background: #fff url(/assets/images/travel_check.png) no-repeat 8px center/30px;
  box-shadow: 0 2px 2px 0 rgba(126, 10, 10, 0.8);
  -webkit-box-shadow: 0 2px 2px 0 rgba(126, 10, 10, 0.8);
  -moz-box-shadow: 0 2px 2px 0 rgba(126, 10, 10, 0.8);
  color: #4b4b4b;
}

.maindiv .accordsec .card .card-body .travelradiodiv .form-check-inline {
  margin-right: 5px;
}

.maindiv .accordsec .card .card-body .travelradiodiv label {
  width: 140px;
  margin: 0;
  padding: 15px 10px 15px 50px;
  border: 2px solid rgba(178, 93, 90, 0.47);
  border-bottom: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.47) url(/assets/images/travel_uncheck.png) no-repeat 8px center/30px;
  box-shadow: 0 2px 2px 0 rgba(126, 10, 10, 0.47);
  -webkit-box-shadow: 0 2px 2px 0 rgba(126, 10, 10, 0.47);
  -moz-box-shadow: 0 2px 2px 0 rgba(126, 10, 10, 0.47);
  color: rgba(75, 75, 75, 0.5);
  cursor: pointer;
  font: 500 15px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .travelradiodiv small {
  color: #4b4b4b;
  font: normal 11px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body #permAdddiv {
  display: none;
}

.maindiv .accordsec .card .card-body .tablediv {
  padding-top: 15px;
  border-top: 2px solid #D5C8C1;
  margin-top: 15px;
}

.maindiv .accordsec .card .card-body .tablediv h3 {
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #4b4b4b;
  font: 500 18px "Roboto", sans-serif;
  text-align: center;
  text-transform: capitalize;
}

.maindiv .accordsec .card .card-body .tablediv table {
  width: 100%;
  margin: 0 0 18px;
  border-collapse: separate;
  border-spacing: 4px;
}

.maindiv .accordsec .card .card-body .tablediv table thead tr th {
  border: 0;
  color: #939393;
  font: normal 15px "Roboto", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .card-body .tablediv table thead tr th:nth-child(2) {
  padding-left: 70px;
  text-align: left;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td {
  padding: 8px;
  border: solid 1px #939393;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: #5f5953;
  font: normal 15px "Roboto", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td input {
  display: none;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td input:checked + label {
  background: rgba(255, 255, 255, 0.65) url(/assets/images/check.png) no-repeat center center/13px;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td label {
  width: 36px;
  height: 36px;
  margin: 0;
  border: solid 1px #939393;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.65) url(/assets/images/uncheck.png) no-repeat center center/13px;
  cursor: pointer;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child {
  width: 36px;
  padding: 0;
  border: 0;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td:nth-child(2) {
  padding-left: 25px;
  text-align: left;
}

.maindiv .accordsec .card .card-body .tablediv table tfoot tr td {
  padding: 20px 0 0 45px;
  text-align: left;
}

.maindiv .accordsec .card .card-body .tablediv table tfoot tr td strong {
  display: inline-block;
  color: #4b4b4b;
  font: 500 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .tablediv table tfoot tr td strong:first-child {
  margin-bottom: 15px;
}

.maindiv .accordsec .card .card-body h4 {
  margin: 0 0 15px;
  color: #ad2121;
  font: 500 16px "Roboto", sans-serif;
  text-align: center;
  text-transform: capitalize;
}

.maindiv .accordsec .card .card-body h5 {
  margin: 0 0 20px;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  -webkit-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  -moz-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  color: #a72020;
  font: 500 16px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body small {
  display: inline-block;
  color: #ad2121;
  font: normal 14px/20px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .tablediv2 table {
  width: 100%;
  margin: 0 0 18px;
  border-collapse: separate;
}

.maindiv .accordsec .card .card-body .tablediv2 table thead tr th {
  padding: 12px;
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.65);
  color: #962121;
  font: 500 15px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .tablediv2 table thead tr th:first-child {
  background-color: transparent;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody th.mb_head {
  display: none;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody tr th {
  padding: 8px;
  font: 500 15px "Roboto", sans-serif;
  color: #4b4b4b;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody tr td {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.26);
  font: 500 15px "Roboto", sans-serif;
  color: #4b4b4b;
  text-align: center;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody tr:last-child th {
  color: #952020;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody tr:last-child td {
  font-size: 23px;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
}

.maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td input {
  display: none;
}

.maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td input:checked + label {
  border: solid 2px #982222;
  background: rgba(255, 255, 255, 0.65) url(/assets/images/check.png) no-repeat center center/16px;
}

.maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td label {
  width: 100%;
  height: 40px;
  border: solid 1px rgba(152, 34, 34, 0.45);
  margin-top: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .tablediv3 {
  padding: 5px 0;
  border-top: 2px solid #D5C8C1;
}

.maindiv .accordsec .card .card-body .premTable {
  width: 100%;
  display: inline-table;
}

.maindiv .accordsec .card .card-body .premTable thead tr th {
  color: #939393;
  font: 500 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .premTable tbody tr td {
  padding: 5px;
}

.maindiv .accordsec .card .card-body .premTable tbody tr td svg {
  width: 19px;
  margin-right: 5px;
  vertical-align: -1px;
}

.maindiv .accordsec .card .card-body .premTable tbody tr td strong {
  color: #4b4b4b;
  font: 500 37px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td label {
  margin: 0 5px 0 0;
  color: #727374;
  font: 500 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td svg {
  width: 12px;
  vertical-align: -1px;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td span {
  color: #0f0f0f;
  font: 500 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td .custom-switch label {
  color: #343434;
  cursor: pointer;
  font: 500 13px "Roboto", sans-serif;
  outline: 0;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td .custom-switch .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  border-color: #adb5bd;
  background-color: #e7d8e2;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td .custom-switch .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem #931f1f36;
          box-shadow: 0 0 0 0.2rem #931f1f36;
  box-shadow: 0 0 0 0.2rem rgba(147, 31, 31, 0.211765);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(147, 31, 31, 0.211765);
  -moz-box-shadow: 0 0 0 0.2rem rgba(147, 31, 31, 0.211765);
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #adb5bd;
  background-color: #e7d8e2;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td .custom-switch .custom-control-label::before {
  top: 0;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td .custom-switch .custom-control-label::after {
  top: 2px;
  background-color: #a72020;
}

.maindiv .accordsec .card .card-body .premTable.cstmtable tbody tr td {
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .premTable.cstmtable tbody tr td svg {
  width: 12px;
  margin: 0;
  fill: #4b4b4b;
  vertical-align: middle;
}

.maindiv .accordsec .card .card-body .premTable.cstmtable tbody tr td span {
  color: #4b4b4b;
  font: 500 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .innertable .tablediv table thead tr th {
  font-size: 13px;
  text-align: center;
}

.maindiv .accordsec .card .card-body .innertable .tablediv table thead tr th:nth-child(2) {
  padding: 0;
}

.maindiv .accordsec .card .card-body .innertable .tablediv table tbody tr td {
  font-size: 13px;
  text-align: center;
}

.maindiv .accordsec .card .card-body .innertable .tablediv table tbody tr td:nth-child(2) {
  padding: 8px;
}

.maindiv .accordsec .card .card-body .agreeTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
}

.maindiv .accordsec .card .card-body .agreeTable tr td {
  padding: 8px;
  vertical-align: middle;
}

.maindiv .accordsec .card .card-body .agreeTable tr td label {
  margin: 0;
  cursor: pointer;
}

.maindiv .accordsec .card .card-body .agreeTable tr td:first-child {
  width: 36px;
  padding: 0;
  border: 0;
}

.maindiv .accordsec .card .card-body .agreeTable tr td:first-child input {
  display: none;
}

.maindiv .accordsec .card .card-body .agreeTable tr td:first-child input:checked + label {
  background: rgba(255, 255, 255, 0.65) url(/assets/images/check.png) no-repeat center center/13px;
}
.maindiv .accordsec .card .card-body .agreeTable tr td:first-child label {
  width: 36px;
  height: 36px;
  margin: 0;
  border: solid 1px #b02929;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.65) url(/assets/images/uncheck.png) no-repeat center center/13px;
  cursor: pointer;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .agreeTable tr td a {
  width: 14px;
  height: 20px;
  margin-top: 2px;
  float: right;
  background: url(/assets/images/upload.png) no-repeat center center/contain;
}

.maindiv .accordsec .card .card-body .sort_table {
  width: 100%;
}

.maindiv .accordsec .card .card-body .sort_table tr td {
  vertical-align: middle;
}

.maindiv .accordsec .card .card-body .sort_table tr td a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.maindiv .accordsec .card .card-body .sort_table tr td a label {
  height: auto;
  padding: 0 5px;
  margin: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  color: #4b4b4b;
  font: 500 10px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .sort_table tr td a svg {
  fill: #A19D9C;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.maindiv .accordsec .card .card-body .sort_table tr td a:hover svg, .maindiv .accordsec .card .card-body .sort_table tr td a.active svg {
  fill: #AD2121;
}

.maindiv .accordsec.paymentsec {
  margin-top: -25px;
}

.maindiv .accordsec.paymentsec ul {
  padding-left: 0;
  margin-bottom: 20px;
  text-align: center;
}

.maindiv .accordsec.paymentsec ul li {
  margin: 15px;
  display: inline-block;
  vertical-align: top;
}

.maindiv .accordsec.paymentsec ul li a {
  display: inline-block;
  text-decoration: none;
}

.maindiv .accordsec.paymentsec ul li a span {
  margin-top: 5px;
  display: inline-block;
  color: #343434;
  font: 500 12px "Roboto", sans-serif;
}

.maindiv .accordsec.paymentsec ul li a div {
  width: 94px;
  height: 94px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.45);
  -webkit-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.45);
  -moz-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.45);
}

.maindiv .accordsec.paymentsec ul li a div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.maindiv .tabpanediv ul {
  margin-bottom: 25px;
}

.maindiv .tabpanediv ul li a {
  padding: 7px 50px;
  border-bottom: 1px solid rgba(75, 75, 75, 0.2);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: rgba(75, 75, 75, 0.5);
  font: 500 18px "Roboto", sans-serif;
}

.maindiv .tabpanediv ul li a.active {
  background-color: transparent;
  color: #4b4b4b;
}

.maindiv.dashbrdiv .prflsec .prfldetails {
  padding: 10px 10px 0;
  border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.5);
  -webkit-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.5);
  -moz-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.5);
}

.maindiv.dashbrdiv .prflsec .prfldetails table {
  width: 100%;
}

.maindiv.dashbrdiv .prflsec .prfldetails table tr td {
  padding: 5px 5px 0;
}

.maindiv.dashbrdiv .prflsec .prfldetails table .prfldiv {
  width: 70px;
  height: 70px;
  display: inline-block;
  position: relative;
}

.maindiv.dashbrdiv .prflsec .prfldetails table .prfldiv.awardrecv span {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -7px;
  left: -13px;
  background: url(/assets/images/award.png) no-repeat center center;
}

.maindiv.dashbrdiv .prflsec .prfldetails table label {
  margin: 0;
  display: block;
  color: #012b51;
  font: 500 16px "Roboto", sans-serif;
}

.maindiv.dashbrdiv .prflsec .prfldetails table span {
  color: #952020;
  font: 500 20px "Roboto", sans-serif;
  text-transform: capitalize;
}

.maindiv.dashbrdiv .prflsec .prfldetails table .desigdiv {
  border-top: 1px solid #fff;
}

.maindiv.dashbrdiv .prflsec .prfldetails table .desigdiv h3 {
  margin: 5px 0;
  color: #4b4b4b;
  font: 500 11px "Roboto", sans-serif;
  text-transform: capitalize;
}

.maindiv.dashbrdiv .prflsec .prfldetails table .desigdiv small {
  color: #4b4b4b;
  font: 500 14px "Roboto", sans-serif;
  vertical-align: super;
}

.maindiv.dashbrdiv .prflsec .prfldetails .editBtn {
  position: absolute;
  top: 7px;
  right: 5px;
}

.maindiv.dashbrdiv .prflsec .ranks {
  width: 100%;
  padding: 0;
  margin: 12px 0;
  display: table;
  background-color: rgba(255, 255, 255, 0.45);
  overflow: hidden;
}

.maindiv.dashbrdiv .prflsec .ranks li {
  padding: 10px 0 10px 20px;
  display: table-cell;
  position: relative;
  color: #767676;
  font: 500 12px "Roboto", sans-serif;
}

.maindiv.dashbrdiv .prflsec .ranks li:not(:last-child) {
  text-align: center;
}

.maindiv.dashbrdiv .prflsec .ranks li:not(:last-child):after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: -16px;
  z-index: 1;
  background: url(/assets/images/right-arrow.png) no-repeat;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.maindiv.dashbrdiv .prflsec .ranks li.active {
  background-color: #fff;
}

.maindiv.dashbrdiv .prflsec .ranks li.active:after {
  width: 35px;
  height: 35px;
  background: none;
  content: "";
  position: absolute;
  top: 0;
  right: -16px;
  background-color: #fff;
  border-top-right-radius: 5px;
  -webkit-transform: scale(0.707) rotate(45deg);
  transform: scale(0.707) rotate(45deg);
  -webkit-box-shadow: 1px -1px rgba(171, 33, 33, 0.48);
          box-shadow: 1px -1px rgba(171, 33, 33, 0.48);
}

.maindiv.dashbrdiv .prflsec .ranks li.active span {
  position: relative;
  z-index: 2;
}

.maindiv.dashbrdiv .prflsec .ranks li:last-child {
  padding-left: 25px;
}

.maindiv.dashbrdiv .mainsldrsec {
  margin-bottom: 25px;
  overflow-x: hidden;
}

.maindiv.dashbrdiv .mainsldrsec .innerdiv {
  margin: 0 -15px;
}

.maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .bgdiv {
  background: url(/assets/images/city.png) no-repeat center 70%/contain;
}

.maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .gifdiv {
  width: 100%;
  height: 250px;
}

.maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .gifdiv.healthgif {
  background: url(/assets/images/health-gif.gif) no-repeat center center/contain;
}

.maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .gifdiv.travelgif {
  background: url(/assets/images/travel-gif.gif) no-repeat center center/contain;
}

.maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .gifdiv.bikegif {
  background: url(/assets/images/bike-gif.gif) no-repeat center 100%/contain;
}

.maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .gifdiv.cargif {
  background: url(/assets/images/car-gif.gif) no-repeat center 100%/contain;
}

.maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .cstmbtn {
  margin-top: 5px;
  display: inline-block;
}

.maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .slick-prev, .maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .slick-next {
  z-index: 5;
  cursor: pointer;
}

.maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .slick-prev:before, .maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .slick-next:before {
  display: none;
}

.maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .slick-prev {
  left: 15px;
  background: url(/assets/images/slider-left.png) no-repeat;
}

.maindiv.dashbrdiv .mainsldrsec .innerdiv .departslider .slick-next {
  right: 15px;
  background: url(/assets/payment/images/slider-right.png) no-repeat;
}

.maindiv.dashbrdiv .calendsec {
  overflow-x: hidden;
}

.maindiv.dashbrdiv .calendsec .innerdiv {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.5);
  -webkit-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.5);
  -moz-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.5);
}

.maindiv.dashbrdiv .calendsec .innerdiv .calendslider {
  margin-bottom: 18px;
}

.maindiv.dashbrdiv .calendsec .innerdiv .calendslider .slick-dots li button:before {
  font-size: 13px;
}

.maindiv.dashbrdiv .calendsec .innerdiv .contdiv {
  text-align: center;
}

.maindiv.dashbrdiv .calendsec .innerdiv .contdiv h5 {
  color: #931e1e;
  font: 700 16px "Roboto", sans-serif;
}

.maindiv.dashbrdiv .calendsec .innerdiv .contdiv table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
}

.maindiv.dashbrdiv .calendsec .innerdiv .contdiv table tr th {
  color: #911d1d;
  font: normal 12px "Roboto", sans-serif;
  text-align: center;
}

.maindiv.dashbrdiv .calendsec .innerdiv .contdiv table tr td {
  padding: 8px;
  border: solid 1px #b02929;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: #4d4d4d;
  font: bold 20px "Roboto", sans-serif;
  text-align: center;
}

.modal {
  padding-right: 0 !important;
}

.modal .modal-content {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 4px 4px 2px 0 #6e0000;
  -webkit-box-shadow: 4px 4px 2px 0 #6e0000;
  -moz-box-shadow: 4px 4px 2px 0 #6e0000;
}

.modal .modal-content .modal-header {
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 4px 4px 4px 0 rgba(110, 0, 0, 0.6);
  -webkit-box-shadow: 4px 4px 4px 0 rgba(110, 0, 0, 0.6);
  -moz-box-shadow: 4px 4px 4px 0 rgba(110, 0, 0, 0.6);
}

.modal .modal-content .modal-header h4 {
  width: 100%;
  color: #ad2121;
  font: 500 15px "Roboto", sans-serif;
  text-align: center;
}

.modal .modal-content .modal-header .close {
  padding: 0;
  margin: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: none;
  position: absolute;
  top: 6px;
  right: 8px;
  color: #fff;
  opacity: 1;
}

.modal .modal-content .modal-header .close img {
  width: 20px;
}

.modal .modal-content .modal-body {
  padding: 18px 18px 7px;
}

.modal .modal-content .modal-body.accordsec {
  margin-bottom: 0;
}

.modal .modal-content .modal-body.accordsec .card {
  margin-bottom: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.modal .modal-content .modal-body.accordsec .card .card-body {
  margin-top: 0;
  padding: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.modal .modal-content .modal-body.accordsec .card .card-body .form-control, .modal .modal-content .maindiv .modal-body.accordsec .card .card-body .custom-select, .maindiv .modal .modal-content .modal-body.accordsec .card .card-body .custom-select,
.modal .modal-content .modal-body.accordsec .card .card-body .custom-select {
  height: 33px;
}

.modal .modal-content .modal-body.accordsec .card .card-body small {
  display: block;
  color: #4b4b4b;
  font: normal 10px "Roboto", sans-serif;
}

.modal .modal-content .modal-body.accordsec .card .card-body p {
  margin-bottom: 3px;
  font: normal 14px "Roboto", sans-serif;
  color: #4b4b4b;
}

.modal .modal-content .modal-body.accordsec .card .card-body textarea {
  width: 100%;
  height: 200px;
  border: 0;
  background-color: transparent;
  color: #4b4b4b;
  font: normal 15px "Roboto", sans-serif;
  line-height: calc(100 * 12.5%);
  outline: 0;
  resize: none;
  text-align: center;
}

.modal .modal-content .modal-body.accordsec .card .card-body table tr td {
  padding: 9px;
  border: solid 1px #c3c3c3;
  background-color: #fff;
  color: #404040;
  font: normal 13px "Roboto", sans-serif;
}

.modal .modal-content .modal-body .sharelnks {
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.modal .modal-content .modal-body .sharelnks li {
  margin: 0 7px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.modal .modal-content .modal-body .sharelnks li a {
  display: inline-block;
  text-decoration: none;
}

.modal .modal-content .modal-body .sharelnks li a span {
  display: inline-block;
  color: #4b4b4b;
  font: normal 12px "Roboto", sans-serif;
  vertical-align: top;
}

.modal .modal-content .modal-body .sharelnks li a div {
  width: 63px;
  height: 63px;
  border: solid 1px #ad2121;
  margin: 0 auto 3px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
  background-color: #fff;
}

.modal .modal-content .modal-body .sharelnks li a div svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*Main Content Starts*/
/*Calculate Premium Starts*/
.premiumdiv {
  min-height: 100vh;
  position: relative;
  background: #fca6a7 url(/assets/images/mobile_bg.jpg) no-repeat fixed;
  background-size: cover;
}

.premiumdiv h2 {
  margin: 100px 0 0;
  color: #04447e;
  font: 600 16px "Roboto", sans-serif;
  text-transform: capitalize;
}

.premiumdiv .formdiv {
  width: 100%;
  position: absolute;
  top: 73%;
  left: 0;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.premiumdiv .formdiv .innerdiv {
  width: 100%;
  height: 240px;
  margin-bottom: 60px;
  background: url(/assets/images/city.png) no-repeat center center/contain;
}

.premiumdiv .formdiv .innerdiv .vehiclediv {
  width: 312px;
  height: 240px;
  margin: 0 auto;
  position: relative;
  background: url(/assets/images/car.png) no-repeat center center/contain;
}

.premiumdiv .formdiv .innerdiv .vehiclediv input {
  width: 145px;
  height: 30px;
  padding: 5px;
  border: solid 1px #000000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  position: absolute;
  top: 67%;
  left: 50%;
  color: #343434;
  font: 500 13px "Roboto", sans-serif;
  outline: 0 !important;
  text-align: center;
  -webkit-transform: translate(-50%, -67%);
  transform: translate(-50%, -67%);
}

.premiumdiv .formdiv.twowheldiv {
  margin: 45px 0;
  position: static;
  -webkit-transform: none;
          transform: none;
}

.premiumdiv .formdiv.twowheldiv .innerdiv {
  height: 358px;
}

.premiumdiv .formdiv.twowheldiv .innerdiv .vehiclediv {
  height: 358px;
  background: url(/assets/images/bike.png) no-repeat center center/contain;
}

.premiumdiv .formdiv.twowheldiv .innerdiv .vehiclediv input {
  top: 42%;
  -webkit-transform: translate(-50%, -42%);
          transform: translate(-50%, -42%);
}

.maindiv .tabpanediv ul {
  margin-bottom: 25px;
}
.maindiv .tabpanediv ul li a {
  padding: 7px 50px;
  /* border-bottom: 1px solid rgba(75, 75, 75, 0.2); */
  border: solid 1px #931f1f;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin: 5px 5px;
  color: rgba(75, 75, 75, 0.5);
  font: 500 18px "Roboto", sans-serif;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgba(75, 75, 75, 0.5);
  background-color: transparent;
}
.maindiv .tabpanediv ul li a.active {
  border-bottom: 1px solid #373c47;
  border: solid 1px #931f1f;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px #931f1f;
  color: #4b4b4b;
}
.card {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.maindiv .accordsec .card .card-body h4 {
  margin: 0 0 15px;
  color: #ad2121;
  font: 500 16px "Roboto", sans-serif;
  text-align: center;
  text-transform: capitalize;
}
.loader-backdrop {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background: rgba(255,255,255,.9);
  z-index: 999999999;
  display: table-cell;
  height: 100vh;
}

.spinner {
  height: 60px;
  display: block;
  margin: 46vh auto;
  text-align: center;
  font-size: 10px;
}

  .spinner > div {
      width: 18px;
      height: 18px;
      background-color: #333;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  #loader_msg {
    font-size: 14px;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
      -webkit-transform: scale(0);
      background-color: #ad2121;
  }

  40% {
      -webkit-transform: scale(1.0);
      background-color: #ad2121;
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      background-color: #ad2121;
  }

  40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      background-color: #ad2121;
  }
}
.mandatory-field
{
  color:red
}
.proposal-sub-headers {
  background-color: #eaeaea;
  color: #ad2121;
  font: 700 16px "Roboto", sans-serif;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 11px 35px;
}
.example-full-width
{
  width: 100% !important;
}
.mat-datepicker-content-touch .mat-calendar {
  width: 30vh !important;
  height: 30vh !important;
}
.mat-datepicker-content .mat-calendar-next-button{
  color: #fff !important;
}
.mat-datepicker-content .mat-calendar
{ 
     zoom: 1.2 !important;
}
.mat-dialog-container {
  border-radius: 15px !important;
  }
  
  .mat-calendar-header
  {
  background-color: #ad2121;
  color:#fff;
  }
  .mat-calendar-body-selected {
  box-shadow: inset 0 0 0 1px #fff !important;
  }
  .mat-calendar-body-cell-content
  {
  line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-radius: 999px;
  }
  button.mat-calendar-period-button.mat-button:focus
  {
  background-color: #ad2121 !important;
  outline: none !important;
  color: #fff !important;
  }
  button.mat-calendar-previous-button.mat-icon-button
  {
  background-color: #ad2121 !important;  
  outline: none !important;
  color: #fff !important;
  }
  .maindiv .accordsec .card .card-body .custom-select:focus {
    border-color: #f58220;
  }
  .maindiv .accordsec .card .card-body .form-control:focus
  {
    border-color: #f58220;  
  }
/*Calculate Premium Ends*/
/*Media Queries Starts*/
@media only screen and (min-width: 993px) {
  .container {
    width: 85% !important;
  }
  @media (max-width: 991px) {
  }
  .maindiv .accordsec .card .card-header a {
    padding: 14px 14px 14px 40px;
    background-position: 97% center !important;
  }

  .maindiv .accordsec .card .card-body .tablediv table thead tr th:nth-child(2) {
    padding-left: 25px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child {
    vertical-align: top;
  }
  .maindiv .accordsec .card .card-body .tablediv table tfoot tr td {
    padding: 15px 0 0 0;
  }
}

@media (max-width: 767px) {
  .maindiv .accordsec .card .card-body .dob .form-control, .maindiv .accordsec .card .card-body .dob .custom-select {
    background-size: 20px;
    font-size: 20px;
  }
  .maindiv .accordsec .card .card-body .statediv select {
    background-size: 10px;
    font-size: 20px;
  }
  .maindiv .accordsec .card .card-body .rangediv strong {
    font-size: 20px;
  }
  .maindiv .accordsec .card .card-body .rangediv span {
    font-size: 12px;
  }
  .maindiv .accordsec .card .card-body .tablediv {
    margin-top: 5px;
  }
  .maindiv .accordsec .card .card-body .tablediv h3 {
    font-size: 15px;
  }
  .maindiv .accordsec .card .card-body .tablediv table thead tr th {
    font-size: 14px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td {
    font-size: 14px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td:nth-child(2) {
    padding-left: 10px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tfoot tr td strong {
    font-size: 12px;
  }
}

.homeRef{
	 color: white;
}
  
@media (max-width: 575px) {
  header {
    background: rgba(255, 255, 255, 0.45) url(/assets/images/header_bg.png) no-repeat left/cover;
    box-shadow: 0 8px 6px 0 rgba(144, 53, 55, 0.38);
    -webkit-box-shadow: 0 8px 6px 0 rgba(144, 53, 55, 0.38);
    -moz-box-shadow: 0 8px 6px 0 rgba(144, 53, 55, 0.38);
    text-align: center;
	
  }
  .homeRef{
	 color: #ad2121;
	 font-size: 12px;
  }
  
  header h1 a {
    width: 150px;
    padding: 5px 0;
    background: url(/assets/images/logo.png) no-repeat center center/contain;
  }
  .maindiv {
    padding-top: 58px;
    background: url(/assets/images/mobile_bg.jpg) no-repeat fixed left top/cover;
  }
  .maindiv .headingsec {
    text-align: center;
  }
  .maindiv .headingsec h2 {
    font-size: 18px;
  }
  .maindiv .accordsec .card .card-header a {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background-size: 12px !important;
    background-position: 95% center !important;
  }
  .maindiv .accordsec .card .card-body {
    padding: 15px 15px 20px !important;
  }
  .maindiv .accordsec .card .card-body label {
    font-size: 11px;
  }
  .maindiv .accordsec .card .card-body small {
    font: normal 12px/16px "Roboto", sans-serif;
  }
  .maindiv .accordsec .card .card-body div .form-control, .maindiv .accordsec .card .card-body div .custom-select,
  .maindiv .accordsec .card .card-body div .custom-select {
    height: 50px !important;
    font-size: 14px !important;
    max-width: 100%;
    overflow: hidden;
    /*Altered two below to make word wrap work */
    word-wrap: normal !important;
    white-space: normal;
  }
  .maindiv .accordsec .card .card-body .statediv label {
    margin: 0;
  }
  .maindiv .accordsec .card .card-body .rangediv strong {
    font-size: 15px;
  }
  .maindiv .accordsec .card .card-body .rangediv span {
    font-size: 10px;
  }
  .maindiv .accordsec .card .card-body .tablediv h3 {
    font-size: 13px;
  }
  .maindiv .accordsec .card .card-body .tablediv table thead tr th {
    font-size: 11px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td {
    font-size: 11px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child {
    width: 30px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child label {
    width: 30px;
    height: 30px;
    background-size: 10px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child input:checked + label {
    background-size: 10px;
  }
  .maindiv .accordsec .card .card-body .tablediv table tfoot tr td strong {
    font-size: 11px;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table thead tr th {
    padding: 10px 8px;
    font-size: 12px;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table tbody th.mb_head {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    text-align: center;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table tbody tr:nth-last-child(2) th.mb_head {
    color: #952020;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table tbody tr:last-child td {
    font-size: 18px;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table tbody tr td {
    font-size: 13px;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td label {
    height: 33px;
  }
  .maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td input:checked + label {
    background-size: 13px !important;
  }
  .maindiv .accordsec .card .card-body .searchbox {
    margin-left: 20px;
  }
  .maindiv .accordsec .card .card-body .travelradiodiv label {
    width: 114px;
    height: initial !important;
    padding: 12px 10px 12px 35px;
    font-size: 12px;
    background-size: 20px !important;
  }
  .maindiv .accordsec .card .card-body .travelradiodiv small {
    margin-top: 5px;
  }
  .maindiv .accordsec .card .card-body .premTable tbody tr td strong {
    font-size: 27px;
  }
  .maindiv .accordsec .card .card-body .premTable tbody tr td svg {
    width: 14px;
  }
  .maindiv .accordsec .card .card-body.cstmbody {
    padding: 10px 10px 0;
  }
  .maindiv .accordsec .card .card-body.agreeBody {
    padding: 10px 15px;
  }
  .maindiv .accordsec .card .card-body .agreeTable tr td {
    font-size: 11px;
  }
  .maindiv .accordsec .card .card-body .agreeTable tr td:first-child {
    width: 30px;
  }
  .maindiv .accordsec .card .card-body .agreeTable tr td:first-child input:checked + label {
    background-size: 10px;
  }
  .maindiv .accordsec .card .card-body .agreeTable tr td:first-child label {
    width: 30px;
    height: 30px;
    background-size: 10px;
  }
  .maindiv .accordsec .card .form-group {
    margin-bottom: 5px;
  }
  .modal .modal-content .modal-body.accordsec .card .card-body .form-control, .modal .modal-content .maindiv .modal-body.accordsec .card .card-body .custom-select, .maindiv .modal .modal-content .modal-body.accordsec .card .card-body .custom-select,
  .modal .modal-content .modal-body.accordsec .card .card-body .custom-select {
    height: 27px !important;
    max-width: 100%;
    overflow: hidden;
    /*Altered two below to make word wrap work */
    word-wrap: normal !important;
    white-space: normal !important;
  }
  .modal .modal-content .modal-body.accordsec .card .card-body p {
    font-size: 12px;
  }
}

@media (max-width: 470px) {
  .maindiv .accordsec .card .card-body .chkboxdiv {
    margin: 0 -5px;
  }
  .maindiv .accordsec .card .card-body .chkboxdiv label {
    width: 35px;
    height: 35px;
    background-size: 35px !important;
  }
  .maindiv .accordsec .card .card-body .chkboxdiv input:checked + label {
    background-size: 35px !important;
  }
  .maindiv .accordsec .card .card-body .chkboxdiv .form-check-inline {
    margin-right: 0;
  }
  .maindiv .accordsec .card .card-body .radioboxdiv .form-check-inline {
    margin-right: 3px;
  }
  .maindiv .accordsec .card .card-body .msgdiv {
    border-bottom: 1px solid rgba(108, 117, 125, 0.34902);
    margin-bottom: 15px;
  }
  .maindiv .accordsec .card .card-body .successMsg {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .cstmbtn {
    padding: 10px 20px;
    font-size: 12px;
  }
}

@media (max-width: 440px) {
  .maindiv .accordsec.paymentsec ul li {
    margin: 8px;
  }
  .maindiv .accordsec.paymentsec ul li a div {
    width: 80px;
    height: 80px;
  }
  .maindiv .accordsec.paymentsec ul li a div img {
    width: 35px;
  }
  .loaderdiv {
    width: 130px;
  }
}

@media (max-width: 385px) {
  .maindiv.dashbrdiv .prflsec .prfldetails {
    padding: 8px 8px 0;
  }
  .maindiv.dashbrdiv .prflsec .prfldetails table label {
    font-size: 12px;
  }
  .maindiv.dashbrdiv .prflsec .prfldetails table span {
    font-size: 14px;
  }
  .maindiv.dashbrdiv .prflsec .prfldetails table .desigdiv small {
    font-size: 10px;
  }
  .maindiv .accordsec .card .card-body h5 {
    padding: 12px;
    font-size: 14px;
  }
  .maindiv .accordsec .card .card-body h5 img {
    width: 40px;
    margin-right: 5px !important;
  }
  .maindiv .accordsec .card .card-body .radioboxdiv2 ul li {
    width: 100%;
  }
  .maindiv .accordsec .card .card-body .radioboxdiv2 ul li label {
    font-size: 13px;
  }
  .maindiv .accordsec .card .card-body .radioboxdiv2 ul li label:before {
    vertical-align: middle;
  }
}

@media (max-width: 354px) {
  .maindiv .accordsec .card .card-body label {
    height: 26px;
    vertical-align: top;
  }
  .maindiv .accordsec .card .card-body .radioboxdiv label {
    height: auto;
    font-size: 14px;
  }
  .maindiv .accordsec .card .card-body .premTable tfoot tr td span {
    vertical-align: top;
  }
  .maindiv .accordsec .card .card-body .premTable tfoot tr td svg {
    vertical-align: text-top;
  }
  .maindiv.dashbrdiv .prflsec .ranks li {
    font-size: 9px;
  }
  .maindiv.dashbrdiv .prflsec .prfldetails table .prfldiv {
    width: 50px;
    height: 50px;
  }
  .maindiv.dashbrdiv .prflsec .prfldetails table .prfldiv img {
    width: 100%;
    height: auto;
  }
  .maindiv.dashbrdiv .prflsec .prfldetails table .prfldiv.awardrecv span {
    background-size: 22px;
  }
  .maindiv.dashbrdiv .prflsec .prfldetails .editBtn img {
    width: 20px;
  }
  .maindiv.dashbrdiv .calendsec .innerdiv .contdiv table tr th {
    font-size: 11px;
  }
  .maindiv.dashbrdiv .calendsec .innerdiv .contdiv table tr td {
    font-size: 14px;
  }
  .maindiv .tabpanediv ul li a {
    padding: 7px 30px;
    font-size: 15px;
  }
}

/*Media Queries Ends*/
/*# sourceMappingURL=style.css.map */



/**********health-renewal css start***********/


/* .maindiv .accordsec .card .card-body {
  margin-top: 7px;
  padding: 15px 70px 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 12px 10px 6px 0 rgba(110, 0, 0, 0.65);
  -webkit-box-shadow: 12px 10px 6px 0 rgba(110, 0, 0, 0.65);
  -moz-box-shadow: 12px 10px 6px 0 rgba(110, 0, 0, 0.65);
} */
.maindiv .accordsec .card .card-body .quotes_table {
  /* width: 100%; */
  border-collapse: separate;
}

.maindiv .accordsec .card .card-body .quotes_table tr > td {
  padding: 10px;
  border: solid 1px #d0c0b6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.maindiv .accordsec .card .card-body .quotes_table table {
  width: 100%;
}

.maindiv .accordsec .card .card-body .quotes_table table tr th {
  color: #4b4b4b;
  font: normal 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .quotes_table table tr th h6 {
  color: #4b4b4b;
  font: 500 16px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .quotes_table table tr td {
  padding: 3px;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: #9e2626;
  font: 500 14px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .quotes_table table tr td button {
  padding: 5px 8px;
  border: 0;
  margin-right: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #a72020;
  color: #fff;
  font: 500 12px "Roboto", sans-serif;
  outline: 0;
  text-transform: capitalize;
}

.maindiv .accordsec .card .card-body .quotes_table table tr td label {
  padding: 5px 10px;
  border: solid 1px #d0c0b6;
  margin: 0 3px 0 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: inline-block;
  color: #4b4b4b;
  font: 500 12px "Roboto", sans-serif;
  vertical-align: baseline;
}

.maindiv .accordsec .card .card-body .quotes_table table tr td a {
  display: inline-block;
}

.maindiv .accordsec .card .card-body .monthly_table {
  width: 100%;
  border-collapse: separate;
  text-align: center;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd {
  padding: 0;
  border: 1px solid rgba(176, 41, 41, 0.53);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable {
  width: 100%;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr td table {
  width: 100%;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr td table tr th {
  padding: 10px 5px;
  color: #4b4b4b;
  font: 500 16px "Roboto", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr td table tr td {
  padding: 10px 5px;
  color: #a72020;
  font: 500 16px "Roboto", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr:first-child tr th {
  border-bottom: 2px solid #D9C9BC;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr:first-child tr th:first-child {
  border-right: 2px solid #D9C9BC;
}

.maindiv .accordsec .card .card-body .custom-select {
  padding-right: 17px;
  background: url(../images/down_arrow.png) no-repeat right center/14px !important;
}
.maindiv .accordsec .card .card-body .sort_table {
  width: 100%;
}

.maindiv .accordsec .card .card-body .sort_table tr td {
  vertical-align: middle;
}

.maindiv .accordsec .card .card-body .sort_table tr td a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.maindiv .accordsec .card .card-body .sort_table tr td a label {
  height: auto;
  padding: 0 5px;
  margin: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  color: #4b4b4b;
  font: 500 10px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .sort_table tr td a svg {
  fill: #A19D9C;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.maindiv .accordsec .card .card-body .sort_table tr td a:hover svg, .maindiv .accordsec .card .card-body .sort_table tr td a.active svg {
  fill: #AD2121;
}

.maindiv .accordsec .card .card-body .monthly_table {
  width: 100%;
  border-collapse: separate;
  text-align: center;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd {
  padding: 0;
  border: 1px solid rgba(176, 41, 41, 0.53);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable {
  width: 100%;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr td table {
  width: 100%;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr td table tr th {
  padding: 10px 5px;
  color: #4b4b4b;
  font: 500 16px "Roboto", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr td table tr td {
  padding: 10px 5px;
  color: #a72020;
  font: 500 16px "Roboto", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr:first-child tr th {
  border-bottom: 2px solid #D9C9BC;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable tr:first-child tr th:first-child {
  border-right: 2px solid #D9C9BC;
}

.maindiv .accordsec .card .card-body .searchbox {
  padding-left: 22px;
  background: url(../images/search.png) no-repeat left 11px/20px;
}

.maindiv .accordsec .card .card-body .searchbox input {
  border-bottom: 1px solid #E4D2C5 !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font: 400 16px "Roboto", sans-serif;
}

.maindiv .accordsec .card .card-body .custom-select {
  padding-right: 17px;
  background: url(../images/down_arrow.png) no-repeat right center/14px !important;
}

.maindiv .accordsec .card .card-body .statediv select {
  padding-left: 0;
  border: 0;
  background-color: transparent;
  color: #4b4b4b;
  font: normal 26px "Roboto", sans-serif;
  background: url(../images/down_arrow.png) no-repeat right center/14px;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.maindiv .accordsec .card .card-body .statediv select option {
  font-size: 15px;
}

.maindiv .accordsec .card .card-body .statediv select:disabled {
  background: none;
}

.maindiv .accordsec .card .card-body .form-control, .maindiv .accordsec .card .card-body .custom-select {
  padding-left: 0;
  border: 0;
  background: transparent;
  color: #4b4b4b;
  font: normal 20px "Roboto", sans-serif;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  border-bottom: 1px solid #EDEDED;
}

/**********health-renewal css end***********/