<head>
  <title>Health Summary - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="assets/travel/scss/style.css" /> -->
  <script>
    function myFunction() {
      var x = document.getElementById("travellersrange").value;
      document.getElementById("travellersvalue").innerHTML = x;
    }
  </script>
</head>

<aside class="menu slide-menu-left">
  <div class="leftlogodiv">
    <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
  </div>
  <!-- <div id="leftaccord" class="leftaccordmenu">
        <div class="card">
          <div class="card-header">
            <a class="card-link">My transactions</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse">
              My transactions
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
                <path
                  d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
              </svg>
            </a>
          </div>
          <div id="leftcollapseOne" class="collapse" data-parent="#leftaccord">
            <ul class="list-unstyled leftsubmenus">
              <li>
                <a>submenu 1</a>
              </li>
              <li>
                <a>submenu 2</a>
              </li>
              <li>
                <a>submenu 3</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse">
              My transactions
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
                <path
                  d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
              </svg>
            </a>
          </div>
          <div id="leftcollapseTwo" class="collapse" data-parent="#leftaccord">
            <ul class="list-unstyled leftsubmenus">
              <li>
                <a>submenu 1</a>
              </li>
              <li>
                <a>submenu 2</a>
              </li>
              <li>
                <a>submenu 3</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="card-link">My transactions</a>
          </div>
        </div>
      </div> -->
</aside>
<header class="container-fluid fixed-top">
  <div class="row" style="margin-bottom: 0px;">
    <div class="container">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-10">
          <h1>
            <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>
        <div class="col-2 text-center twobtns">
          <a (click)="home($event)" style="cursor: pointer;" class="auto_height"><span style="font-weight: bold; color:white;">HOME</span></a>
        </div>
      </div>
    </div>
  </div>
</header>
<ion-content>
  <div class="container-fluid maindiv" style="padding-left: 0px;">
    <div class="row" style="margin-bottom: 0px;">
      <section class="container headingsec">
        <h2>SUMMARY</h2>
      </section>
      <section class="container accordsec">
        <div id="accordion">
          <div class="card">
            <div>
              <div class="card-body cstmbody text-center">
                <table class="premTable">
                  <thead>
                    <tr *ngIf='quoteRequestData.ProductType== "PPAP"'>
                      <th class="text-center" colspan="2">
                        Total Premium Amount {{quoteRequestData.Tenure}} year(s)
                      </th>
                    </tr>
                    <tr *ngIf='quoteRequestData.ProductType!= "PPAP"'>
                      <th class="text-center" colspan="2">
                        Total Premium Amount
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center" colspan="2">
                        <strong>₹ {{quoteResponseData.TotalPremium | number:'1.0-0'}}</strong>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="text-left">
                        <label>Basic Premium</label>
                        <span>₹ {{quoteResponseData.BasicPremium | number:'1.0-2'}}</span>
                      </td>
                      <td class="text-right">
                        <label>GST</label>
                        <span>₹ {{quoteResponseData.TotalTax | number:'1.0-2'}}</span>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">Plan Details</a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Plan</label>
                    <input type="text" *ngIf='quoteRequestData.ProductType== "CHI"|| quoteRequestData.ProductType== "PPAP"' class="form-control"
                      value='{{quoteRequestData.ProductType}}' placeholder="Enter" readonly />
                    <input type="text" *ngIf='quoteRequestData.ProductType== "HBOOSTER"' class="form-control"
                      value='Health Booster' placeholder="Enter" readonly />
                      <input type="text" *ngIf='quoteRequestData.ProductType== "ASP"' class="form-control"
                      value='Arogya Sanjeevani' placeholder="Enter" readonly />
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='quoteRequestData.ProductType== "PPAP"'>
                    <label>Sub Plan</label>
                    <input type="text" *ngIf='quoteRequestData.SubProduct== "PP"' class="form-control"
                      value='Lum Sum Payment Option' placeholder="Enter" readonly />
                    <input type="text" *ngIf='quoteRequestData.SubProduct== "PPA"' class="form-control"
                      value='Monthly Payment Option' placeholder="Enter" readonly />
                    <input type="text" *ngIf='quoteRequestData.SubProduct== "PPC"' class="form-control"
                      value='Lump Sum Payment Option With Monthly Payout' placeholder="Enter" readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='quoteRequestData.ProductType== "CHI"'>
                    <label>Sub Plan</label>
                    <input type="text" class="form-control" value='{{quoteRequestData.CHIProductName}}'
                      placeholder="Enter" readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='quoteRequestData.ProductType== "HBOOSTER"'>
                    <label>Sub Plan</label>
                    <input type="text" *ngIf='quoteRequestData.ProductName=="HBOOSTER_TOPUP"' class="form-control"
                      value='Top Up Plan' placeholder="Enter" readonly />
                    <input type="text" *ngIf='quoteRequestData.ProductName=="HBOOSTER_SUPERUP"' class="form-control"
                      value='Super Top Up Plan' placeholder="Enter" readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Sum Insured</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{sumisnured}}' readonly />
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-group"
                    *ngIf='quoteRequestData.ProductType== "PPAP" && ppapCovers !=undefined'>
                    <label>Option Cover</label>
                    <div *ngFor="let odetails of ppapCovers; let i=index">
                      <label>Benefit - {{i+1}}</label>
                      <div *ngIf="odetails.TXT_COVERNAME != null && odetails.TXT_COVERNAME != ''">
                        <input type="text" class="form-control" value='Cover/Extn Name : {{odetails.TXT_COVERNAME}}'
                          placeholder="" readonly />
                      </div>
                      <div *ngIf="odetails.NUM_MAX_SI != null && odetails.NUM_MAX_SI != ''">
                        <input type="text" class="form-control" value='Cover/Extn MaxSI : ₹ {{odetails.NUM_MAX_SI}}'
                          placeholder="" readonly />
                      </div>
                      <div *ngIf="odetails.TXT_BENEFIT_REMARKS != null && odetails.TXT_BENEFIT_REMARKS != ''">
                        <input type="text" class="form-control"
                          value='Benefit Amount : {{odetails.TXT_BENEFIT_REMARKS}}' placeholder="" readonly />
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-xl-3">
                    <label>Policy ID</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{proposalResponseData.SavePolicy[0].PolicyID}}' readonly />
                  </div> -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='quoteRequestData.ProductType== "CHI" || quoteRequestData.ProductType== "HBOOSTER"'>
                    <label>Option Add On Cover Selected</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{isAddOn}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf="quoteRequestData.ProductType== 'CHI'">
                    <label>Sub-Limit</label>
                    <input *ngIf="quoteRequestData.SubLimit==null" type="text" class="form-control" placeholder="Enter"
                      value='None' readonly />
                    <input *ngIf="quoteRequestData.SubLimit!=null" type="text" class="form-control" placeholder="Enter"
                      value='{{quoteRequestData.SubLimit}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='quoteRequestData.ProductType== "HBOOSTER"'>
                    <label>Soft Less Copy</label>
                    <input type="text" *ngIf='quoteRequestData.SoftLessCopy=="true"' class="form-control"
                      placeholder="Enter" value='Yes' readonly />
                    <input type="text" *ngIf='quoteRequestData.SoftLessCopy=="false"' class="form-control"
                      placeholder="Enter" value='No' readonly />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card" *ngFor='let in of insuredData; let i=index;'>
            <div class="card-header">
              <a class="card-link collapsed" data-toggle="collapse" href="#collapse{{i+1}}">Insured - {{i+1}} Details</a>
            </div>
            <div id="collapse{{i+1}}" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='quoteRequestData.ProductType!= "PPAP"'>
                    <label>Insured Category</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{in.MemberType}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='quoteRequestData.ProductType== "PPAP"'>
                    <label>Insured Category</label>
                    <input *ngIf='in.KidAdultType== "1"' type="text" class="form-control" placeholder="Enter"
                      value='Adult' readonly />
                    <input *ngIf='in.KidAdultType== "2"' type="text" class="form-control" placeholder="Enter"
                      value='Child' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Realtionship with Applicant</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{in.RelationshipName}}'
                      readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{in.Name}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Date of Birth</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{in.DOB}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='in.PanNumber != undefined && in.PanNumber != "" && in.PanNumber != null && quoteRequestData.ProductType== "PPAP"'>
                    <label>Pan Card No.</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{in.PanNumber}}' readonly />
                  </div>
                  <!-- <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='proposalRequestData.OccupationDesc != undefined && proposalRequestData.OccupationDesc != "" && proposalRequestData.OccupationDesc != null'>
                    <label>Occupation</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{proposalRequestData.OccupationDesc}}' readonly />
                  </div> -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='in.Height!= "" && in.Height!= null'>
                    <label>Height</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{in.Height}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='in.Weight!= "" && in.Weight!= null'>
                    <label>Weight</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{in.Weight}}' readonly />
                  </div>
                  <!-- <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group" *ngIf='quoteRequestData.ProductType== "CHI"'>
                    <label>Add On Cover Selected</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{isAddOn}}' readonly />
                  </div> -->
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='quoteRequestData.ProductType== "CHI"  || quoteRequestData.ProductType== "HBOOSTER" || quoteRequestData.ProductType== "ASP"'>
                    <label>Pre Existing Disease</label>
                    <input *ngIf='in.Ailments.length>0' type="text" class="form-control" placeholder="Enter" value='Yes'
                      readonly />
                    <input *ngIf='in.Ailments.length==0' type="text" class="form-control" placeholder="Enter" value='No'
                      readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='in.InsuranceCompany != "" && in.InsuranceCompany != undefined && in.InsuranceCompany != null && quoteRequestData.ProductType== "PPAP"'>
                    <label>Insurance Comapny</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{in.InsuranceCompany}}' />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='quoteRequestData.ProductType== "PPAP"'>
                    <label>Other Personal Accident Insurance Policy</label>
                    <div *ngIf='in.IsOtherPolicy=="false"'>
                      <input type="text" class="form-control" placeholder="Enter" value='No' />
                    </div>
                    <div *ngIf='in.IsOtherPolicy=="true"'>
                      <input type="text" class="form-control" placeholder="Enter" value='Yes' />
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='in.OtherPolicyNo != "" && in.OtherPolicyNo != undefined && in.OtherPolicyNo != null && quoteRequestData.ProductType== "PPAP"'>
                    <label>Other Policy No</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{in.OtherPolicyNo}}' />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='in.PolicyValidFrom != -1 && quoteRequestData.ProductType== "PPAP"'>
                    <label>Policy Valid From</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{in.PolicyValidFrom}}' />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='in.PolicyValidTill != -1 && quoteRequestData.ProductType== "PPAP"'>
                    <label>Policy Valid Till</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{in.PolicyValidTill}}' />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='quoteRequestData.ProductType== "PPAP" && in.IsOtherPolicy=="true"'>
                    <label>Claims made</label>
                    <div *ngIf='in.ClaimsMade==false'>
                      <input type="text" class="form-control" placeholder="Enter" value='No' readonly />
                    </div>
                    <div *ngIf='in.ClaimsMade==true'>
                      <input type="text" class="form-control" placeholder="Enter" value='Yes' readonly />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">Applicant Details</a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Applicant Full Name</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{proposalRequestData.CustomerName}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='proposalRequestData.OccupationDesc !="" && proposalRequestData.OccupationDesc !=undefined && proposalRequestData.OccupationDesc !=null'>
                    <label>Occupation</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{proposalRequestData.OccupationDesc}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Address Line 1</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{proposalRequestData.PermanentAddrLine1}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='proposalRequestData.PermanentAddrLine2 != null && proposalRequestData.PermanentAddrLine2 != undefined && proposalRequestData.PermanentAddrLine2 != ""'>
                    <label>Address Line 2</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{proposalRequestData.PermanentAddrLine2}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group"
                    *ngIf='proposalRequestData.PermanentAddrLandmark != null && proposalRequestData.PermanentAddrLandmark != undefined && proposalRequestData.PermanentAddrLandmark != ""'>
                    <label>Landmark</label>
                    <input type="text" class="form-control" placeholder="Enter"
                      value='{{proposalRequestData.PermanentAddrLandmark}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Pincode</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{stateData.pin}}' readonly />
                  </div>

                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>City</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{stateData.city}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>State</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{stateData.state}}' readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Email Address</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{proposalRequestData.Email}}'
                      readonly />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 form-group">
                    <label>Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Enter" value='{{proposalRequestData.Mobile}}'
                      readonly />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card" *ngIf='quoteRequestData.ProductType== "CHI" || quoteRequestData.ProductType== "HBOOSTER" || quoteRequestData.ProductType== "ASP"'>
            <div class="card-header">
              <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">Medical Test Guidelines</a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-12" *ngIf='(isOtherPol=="YES"  || bmiyesorno) && !isPedSelected'>
                    Warning! Policy will be insured on the basis of underwritter approval
                  </div>
                  <div class="col-12" *ngIf='isPedSelected && isOtherPol !="YES"'>
                    <label>
                      Warning! Basis the information shared, you may receive a call from our underwriters. The policy
                      will get issued basis underwriter’s approval and additional premium (if any).
                    </label>
                  </div>
                  <div class="col-12">
                    <label>Mandatory Medical test at ICICI Lombard GIC Ltd. designated diagnostic center for:
                    </label>
                    <ul style='list-style-type: circle'>
                      <li>
                        <label>
                          Individual(s) applying for insurance with age 46 years and above irrespective of the Annual
                          sum insured.
                        </label>
                      </li>
                      <li>
                        <label>
                          The senior most memeber applying for insurance with Annual Sum insured greater than 10 Lacs
                          of
                          age.
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card">
            <div class="card-body agreeBody">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                  <table class="agreeTable">
                    <tr>
                      <td>
                        <input type="checkbox" id="getPPAP" checked="checked">
                        <label for="getPPAP"></label>
                      </td>
                      <td>
                        <label for="getPPAP" class="auto_height">Additional Rs 1282 to get PPAP</label>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                  <table class="agreeTable">
                    <tr>
                      <td>
                        <input type="checkbox" id="buyTravel">
                        <label for="buyTravel"></label>
                      </td>
                      <td>
                        <label for="buyTravel" class="auto_height">Do you want to buy travel</label>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="card" *ngIf="this.quoteRequestData.ProductType == 'CHI' && this.quoteRequestData.NoOfAdults > 0">
            <div class="card-body agreeBody">
              <div class="row" style="margin-bottom: 0px;">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <table class="agreeTable">
                    <tr>
                      <td>
                        <input type="checkbox" id="iAcceptdec" (change)='showTravel($event)'>
                        <label for="iAcceptdec"></label>
                      </td>
                      <td>
                        <label for="iAcceptdec" class="auto_height">Do you want to buy travel</label>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div> -->
          <div class="card">
            <div class="card-body agreeBody">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <table class="agreeTable">
                    <tr>
                      <td>
                        <input type="checkbox" id="iAcceptdec" checked="checked"
                          (change)='getDeclarationApproval($event)'>
                        <label for="iAcceptdec"></label>
                      </td>
                      <td>
                        <label for="iAcceptdec" class="auto_height">I accept the Declaration and agree to the Terms
                          &amp;
                          Condition</label>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="text-center">
                <button type="button" id="btnConvert" class="cstmbtn" (click)="goToPayment($event)">Pay Now</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div id="myNav" class="overlay">
        <div class="overlay-content">
          <div class="container-fluid maindiv">
            <div class="row" style="margin-bottom: 0px;">
              <section class="container accordsec">
                <div id="accordion">
                  <div class="card" style="margin-top: 15px;">
                    <div class="collapse show">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group"
                            style="text-align: left;">
                            <label class="auto_height label1">Trip Type</label>
                            <div class="travelradiodiv">
                              <div class="form-check form-check-inline">
                                <input type="radio" id="triptypeMulti" name="triptype" (click)="changeTrip($event)"
                                  checked="checked" />
                                <label for="triptypeMulti">Multi-Trip</label>
                              </div>
                              <small style="padding-top: 10px;">Note: Gold Multi Trip policy is not valid for Schengen
                                Countrires,
                                Seperate Schengen compliant single trip policy is required for Schengen
                                travellers.</small>
                            </div>
                          </div>
                        </div>
                        <div class="row" style="text-align: left;">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
                            <label for="maxTrpDura" class="auto_height label1">Maximum trip duration</label>
                            <select id="maxTrpDura" class="custom-select select1" [value]='0' [(ngModel)]="tripDuration" >
                              <option class="optionBG" value="0">Select Trip Duration</option>
                              <option class="optionBG" value="30">30 Days</option>
                              <option class="optionBG" value="40">45 Days</option>
                              <option class="optionBG" value="60">60 Days</option>
                            </select>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
                            <label for="maxTrpDura" class="auto_height label1">Number of Traveller</label>
                            <select id="maxTrpDura" class="custom-select select1" [(ngModel)]="noOfMember">
                              <option class="optionBG" value="0">Select Member</option>
                              <option class="optionBG" value="adult1" *ngIf="quoteRequestData.NoOfAdults == '1'">Adult 1
                              </option>
                              <option class="optionBG" value="adult2" *ngIf="quoteRequestData.NoOfAdults == '2'">Adult 2
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="row" style="text-align: left;">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group dob2">
                            <label for="trvlDOB1" class="auto_height label1" style="padding-right: 32%;">Policy Start
                              Date</label>
                            <mat-form-field class="example-full-width">
                              <input matInput class="form-control" style="background: none;" [max]="date"
                                [matDatepicker]="picker" [(ngModel)]="startDate" (dateChange)="getTravelPlan($event)">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group dob2"
                            *ngIf="quoteRequestData.NoOfAdults == '1'">
                            <label for="prdName" class="auto_height ">Member 1 DOB</label>
                            <input type="text" class="form-control" id="prdName" value={{member1DOB}}
                              disabled="disabled" />
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group dob2"
                            *ngIf="quoteRequestData.NoOfAdults == '2'">
                            <label for="prdName" class="auto_height ">Member 2 DOB</label>
                            <input type="text" class="form-control" id="prdName" value={{member2DOB}}
                              disabled="disabled" />
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
                            <label for="prdName" class="auto_height  label1">Plan Selected</label>
                            <select id="selctdPlan" class="custom-select select1" (change)="selectedPlan($event)"
                              [value]='0'>
                              <option class="optionBG" value="0">Select Plan Type</option>
                              <option class="optionBG" *ngFor="let plan of plans">{{plan.PlanName}}</option>
                            </select>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group">
                            <label class="invisible d-none d-sm-block">lbl</label>
                            <table class="agreeTable">
                              <tbody>
                                <tr>
                                  <td>
                                    <input type="checkbox" id="needAddCvr">
                                    <label for="needAddCvr" (click)="toggleAddOn($event)"></label>
                                  </td>
                                  <td>
                                    <label for="needAddCvr" class="auto_height label1"
                                      (click)="toggleAddOn($event)">Need
                                      Additional Cover</label>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div id="collapseTwo" *ngIf="showAddOn">
                              <table class="agreeTable">
                                <tbody>
                                  <tr>
                                    <td>
                                      <input type="checkbox" id="semiProSports">
                                      <label for="semiProSports" style="border-radius: 100%;"
                                        (change)="selectAddOn('Semi Professional Sports')"></label>
                                    </td>
                                    <td>
                                      <label for="semiProSports" class="auto_height label1"
                                        (change)="selectAddOn('Semi Professional Sports')">Semi
                                        Professional Sports</label>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <input type="checkbox" id="advantureSport">
                                      <label for="advantureSport" style="border-radius: 100%;"
                                        (change)="selectAddOn('Adventure Sports')"></label>
                                    </td>
                                    <td>
                                      <label for="advantureSport" class="auto_height label1"
                                        (change)="selectAddOn('Adventure Sports')">Adventure Sports</label>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="text-center">
                          <button type="button" id="btnRecalc" class="cstmbtn"
                            (click)="cancel($event)">Cancel</button>
                          <button type="button" id="btnRecalc" class="cstmbtn"
                            (click)="calculate('travelForm')">Calculate</button>
                          <button type="button" id="btnRecalc" class="cstmbtn"
                            (click)="reCalculate('travelForm')">Re-Calculate</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>