<ion-header>
  <ion-toolbar>
    <ion-title>Travel</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-content class="backgroundCss"> -->
  <!-- <form [formGroup]="travelForm">
    <ion-grid class="main-container">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Product Type :</ion-label>
            <ion-select class="lable" placeholder="Product" [interfaceOptions]="customPopoverOptions" interface="popover"
              formControlName="productName">
              <ion-select-option class="lable" value="internationalTravel">Internatioanl Travel</ion-select-option>
              <ion-select-option class="lable" value="studentTravel">Student Travel</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Product Subtype :</ion-label>
            <ion-select class="lable" placeholder="Sub-Product" [interfaceOptions]="customPopoverOptions" interface="popover"
              formControlName="subProduct" (ionChange)="changeSubProduct($event)">
              <ion-select-option class="lable" value="Individual">Individual</ion-select-option>
              <ion-select-option class="lable" value="Family">Family</ion-select-option>
              <ion-select-option class="lable" value="Senior Citizen">Senior Citizen</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="subProduct == 'Individual'">
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Trip Type&nbsp;<span style="color:red;">*</span></ion-label>
            <ion-button color="primary" size="medium" (click)="changeTrip($event)">
              <ion-label class="fontStyle1">Round Trip</ion-label>
            </ion-button>
            <ion-button color="primary" size="medium" (click)="changeTrip($event)">
              <ion-label class="fontStyle1">Multi-Trip</ion-label>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!isMultiTrip || subProduct == 'Family'">
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Please Select Your Travel Location :</ion-label>
            <ion-select class="lable" placeholder="Select One" [interfaceOptions]="customPopoverOptions" interface="popover"
              formControlName="travelLoc" (ionChange)="getTravelLoc($event)">
              <ion-select-option class="lable" value="USAorCANADA">USA or Canada</ion-select-option>
              <ion-select-option class="lable" value="SCHENGEN">Schengen Countries</ion-select-option>
              <ion-select-option class="lable" value="OTHER">Other Countries</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!isMultiTrip">
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Are the traveller visiting on an Immigrant Visa?</ion-label>
            <ion-toggle color="warning" formControlName="isImmigrantVisa" (ionChange)="toggle($event)"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isMultiTrip">
          <ion-col>
            <ion-item>
              <ion-label class="fontStyle">Maximum Trip Duration</ion-label>
              <ion-select class="lable" placeholder="Select One" [interfaceOptions]="customPopoverOptions" interface="popover"
              formControlName="tripDuration">
              <ion-select-option class="lable" value="30">30 Days</ion-select-option>
              <ion-select-option class="lable" value="45">45 Days</ion-select-option>
              <ion-select-option class="lable" value="60">60 Days</ion-select-option>
            </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label class="fontStyle">Policy Start Date</ion-label>
              <ion-datetime class="fontStyle" display-format="DD-MM-YYYY" min={{minDate}} picker-format="DD-MM-YYYY" formControlName="policyStartDate" (ionChange)="getPolStartDate($event)">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      <ion-row  *ngIf="!isMultiTrip">
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Leaving India on</ion-label>
            <ion-datetime class="fontStyle" display-format="DD-MM-YYYY" min={{minDate}} picker-format="DD-MM-YYYY" formControlName="leavingDate">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Returning India on</ion-label>
            <ion-datetime class="fontStyle" display-format="DD-MM-YYYY" min={{minDate}} picker-format="DD-MM-YYYY" formControlName="returningDate" (ionChange)="getReturnDate($event)">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!isMultiTrip">
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Trip Duration (Days)</ion-label>
            <p class="fontStyle">{{noOfDays}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Type of Coverage&nbsp;<span style="color:red;">*</span></ion-label>
            <ion-button color="primary" size="medium">
              <ion-label class="fontStyle1">Individual Plan</ion-label>
            </ion-button>
            <ion-button color="primary" size="medium">
              <ion-label class="fontStyle1">Family Plan</ion-label>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Type of Cover Needed</ion-label>
            <ion-button color="primary" size="medium">
              <ion-label class="fontStyle1">Individual</ion-label>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="subProduct == 'Family'">
          <ion-item>
            <ion-label class="fontStyle">No. of Traveller</ion-label>
            <ion-select class="lable" placeholder="Select One" [interfaceOptions]="customPopoverOptions" interface="popover"
              formControlName="noOfTraveller" (ionChange)="noOfTravellerChange($event)">
              <ion-select-option class="lable" value="2">2</ion-select-option>
              <ion-select-option class="lable" value="3">3</ion-select-option>
              <ion-select-option class="lable" value="4">4</ion-select-option>
              <ion-select-option class="lable" value="5">5</ion-select-option>
              <ion-select-option class="lable" value="6">6</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Traveller 1 Date of Birth</ion-label>
            <ion-datetime display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" formControlName="traveller1DOB" (ionChange)="traveller1DOB($event)">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="traveller2">
          <ion-item>
            <ion-label class="fontStyle">Traveller 2 Date of Birth</ion-label>
            <ion-datetime display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" formControlName="traveller2DOB">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="traveller3">
          <ion-item>
            <ion-label class="fontStyle">Traveller 3 Date of Birth</ion-label>
            <ion-datetime display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" formControlName="traveller3DOB">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="traveller4">
          <ion-item>
            <ion-label class="fontStyle">Traveller 4 Date of Birth</ion-label>
            <ion-datetime display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" formControlName="traveller4DOB">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="traveller5">
          <ion-item>
            <ion-label class="fontStyle">Traveller 5 Date of Birth</ion-label>
            <ion-datetime display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" formControlName="traveller5DOB">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="traveller6">
          <ion-item>
            <ion-label class="fontStyle">Traveller 6 Date of Birth</ion-label>
            <ion-datetime display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" formControlName="traveller6DOB">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Plan Selected</ion-label>
            <ion-select class="lable" placeholder="Select One" [interfaceOptions]="customPopoverOptions" interface="popover"
              formControlName="plan" (ionChange)="getPlanDetail($event)">
              <ion-select-option class="lable" value={{plan.PlanName}} *ngFor="let plan of plans">{{plan.PlanName}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label class="fontStyle">Customer State(Applicable for GST)</ion-label>
            <ion-select class="lable" placeholder="State" [interfaceOptions]="customPopoverOptions" interface="popover"
              formControlName="state">
              <ion-select-option class="lable" value="f">Female</ion-select-option>
              <ion-select-option class="lable" value="m">Male</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
        </ion-col>
        <ion-col size="2">
          <ion-button shape="round" (click)="calculateQuote(travelForm)">SUBMIT</ion-button>
        </ion-col>
        <ion-col size="5">
        </ion-col>
      </ion-row>
    </ion-grid>
  </form> -->
  <div class="container-fluid maindiv">
    <div class="row" style="margin-bottom: 0px;">
      <section class="container headingsec">
        <h2>quick quote</h2>
      </section>
      <section class="container accordsec">
        <div id="accordion">
          <div class="card">
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <form [formGroup]="travelForm">
                  <div class="row">
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;">
                      <label for="prdName" class="auto_height">Product Name</label>
                      <select id="prdName" placeholder="Select Product" class="form-control"
                        formControlName="productName" style="max-width: 90%;">
                        <option class="optionBG" value="internationalTravel" selected>Internatioanl Travel</option>
                        <option class="optionBG" value="studentTravel">Student Travel</option>
                      </select>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;">
                      <label for="prdName" class="auto_height">Product SubType</label>
                      <select id="prdName" class="form-control" formControlName="subProduct"
                        (change)="changeSubProduct($event)" style="max-width: 90%;">
                        <option class="optionBG" value="iHealth" selected>Select Trip Duration</option>
                        <option class="optionBG" value="Individual">Individual</option>
                        <option class="optionBG" value="Family">Family</option>
                        <option class="optionBG" value="Senior Citizen">Senior Citizen</option>
                      </select>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group"
                      *ngIf="subProduct == 'Individual'">
                      <div class="tablediv no_border no_padding no_margin">
                        <label>Trip Type</label>
                        <table>
                          <tbody>
                            <tr>
                              <td style="width:0px !important;">
                              </td>
                              <td (click)="changeTrip($event)" value="ROUND TRIP" style="text-align: -webkit-center"><img src="./assets/images/departures.png"
                                  class="departures"><span style="padding-right: 10px;">Round Trip</span></td>
                              <td (click)="changeTrip($event)" value="MULTI TRIP"><img src="./assets/images/departures.png"
                                  class="departures"><span style="padding-right: 10px;">Multi Trip</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p *ngIf="isMultiTrip"><b>Note :</b> Gold Multi Trip policy is not valid for Schengen
                          Countrires, Seperate Schengen compliant single trip policy is required for Schengen
                          travellers.</p>
                      </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group innertable"
                      *ngIf="!isMultiTrip || subProduct == 'Family'">
                      <label>Select Your Travel Location</label>
                      <div class="tablediv no_border no_padding no_margin">
                        <table>
                          <tbody>
                            <tr>
                              <td>
                                <input type="checkbox" id="USAorCANADA" (change)="getTravelLoc($event)" />
                                <label for="USAorCANADA"></label>
                              </td>
                              <td style="border: none;"><label for="USAorCANADA" value="abc">USA or Canada</label></td>
                            </tr>
                            <tr>
                              <td>
                                <input type="checkbox" id="SCHENGEN" (change)="getTravelLoc($event)" />
                                <label for="SCHENGEN"></label>
                              </td>
                              <td style="border: none;"><label for="SCHENGEN" value="abc">Schengen Countries</label>
                              </td>
                              <td style="border: none;"><b>List of Countries</b></td>
                            </tr>
                            <tr>
                              <td>
                                <input type="checkbox" id="OTHER" (change)="getTravelLoc($event)" />
                                <label for="OTHER"></label>
                              </td>
                              <td style="border: none;"><label for="OTHER" value="abc">Other Countries</label></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group"
                      *ngIf="!isMultiTrip || subProduct == 'Family'">
                      <label>Are the traveller visiting on an Immigrant Visa?</label>
                      <div class="radioboxdiv">
                        <div class="form-check form-check-inline" (click)="seeImmigrant($event)">
                          <input type="radio" value="yes" />
                          <label>Yes</label>
                        </div>
                        <div class="form-check form-check-inline" (click)="seeImmigrant($event)">
                          <input type="radio" value="no" checked="checked" />
                          <label>No</label>
                        </div>
                        <p *ngIf="isImmigrant">Maximum trip duration for policy on immigration visa is 90 days</p>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;"
                      *ngIf="(subProduct == 'Individual' && !isMultiTrip)  || subProduct == 'Family' || subProduct == 'Senior Citizen'">
                      <label for="prdName" class="auto_height">Leaving India On</label>
                      <input type="date" formControlName="leavingDate" />
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;"
                      *ngIf="(subProduct == 'Individual' && !isMultiTrip) || subProduct == 'Family' || subProduct == 'Senior Citizen'">
                      <label for="prdName" class="auto_height">Returning India On</label>
                      <input type="date" formControlName="returningDate" (change)="getReturnDate($event)" />
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;"
                      *ngIf="(subProduct == 'Individual' && !isMultiTrip) || subProduct == 'Family' || subProduct == 'Senior Citizen'">
                      <label for="prdName" class="auto_height">Trip Duration ( Days )</label>
                      <input formControlName="dateDiff" />
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;" *ngIf="isMultiTrip">
                      <label for="prdName" class="auto_height">Maximum Trip Duration</label>
                      <select id="prdName" placeholder="Select Trip Duration" class="form-control" style="max-width: 90%;" [value]="0">
                        <option class="optionBG" value="0">Select Trip Duration</option>
                        <option class="optionBG" value="30">30 Days</option>
                        <option class="optionBG" value="40">45 Days</option>
                        <option class="optionBG" value="60">60 Days</option>
                      </select>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;" *ngIf="subProduct == 'Senior Citizen'">
                      <label for="prdName">Type of Coverage</label>
                      <div>
                        <button class="cstmbtn" (click)="getCover($event)" style="width: 34%;">Individual Plan</button>
                        <button class="cstmbtn" (click)="getCover($event)" style="width: 34%;">Family Plan</button>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;" *ngIf="subProduct == 'Senior Citizen' && isFamilyCover">
                      <label for="prdName" class="auto_height">Type of Cover Needed</label>
                      <div>
                        <button class="cstmbtn" style="width: 34%;">Individual Plan</button>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;" *ngIf="isMultiTrip">
                      <label for="prdName" class="auto_height">Policy Start Date</label>
                      <input type="date" formControlName="policyStartDate" />
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;"
                      *ngIf="isMultiTrip || subProduct == 'Family' || (subProduct == 'Senior Citizen' && isFamilyCover)">
                      <label for="annSuminsrange">No. of Traveller</label>
                      <div class="rangediv" *ngIf=" (!isFamilyCover && subProduct == 'Senior Citizen') || subProduct == 'Individual'">
                        <strong id="annSuminsrangevalue" class="text-center">{{noOfTraveller}}</strong>
                        <input type="range" class="custom-range" min="01" max="06" value="01" step="01"
                          id="annSuminsrange" (change)="noOfTravellerChange($event)" />
                        <span>01</span> <span class="float-right">06</span>
                      </div>
                      <div class="rangediv" *ngIf="subProduct == 'Family' || (subProduct == 'Senior Citizen' && isFamilyCover)">
                        <strong id="annSuminsrangevalue" class="text-center">{{noOfTraveller}}</strong>
                        <input type="range" class="custom-range" min="02" max="06" value="02" step="01"
                          id="annSuminsrange" (change)="noOfTravellerChange($event)" />
                        <span>02</span> <span class="float-right">06</span>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;">
                      <label for="prdName" class="auto_height">Travel 01 Date of Birth</label>
                      <input type="date" formControlName="traveller1DOB" (ionChange)="traveller1DOB($event)" />
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;"
                      *ngIf="((isMultiTrip && traveller2) || subProduct == 'Family') || (isFamilyCover && subProduct == 'Senior Citizen')">
                      <label for="prdName" class="auto_height">Travel 02 Date of Birth</label>
                      <input type="date" formControlName="traveller2DOB" />
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;"
                      *ngIf="(isMultiTrip && traveller3) || (subProduct == 'Family' && traveller3) || (isFamilyCover && subProduct == 'Senior Citizen' && traveller3)">
                      <label for="prdName" class="auto_height">Travel 03 Date of Birth</label>
                      <input type="date" formControlName="traveller3DOB" />
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;"
                      *ngIf="(isMultiTrip && traveller4) || (subProduct == 'Family' && traveller4) || (isFamilyCover && subProduct == 'Senior Citizen' && traveller4)">
                      <label for="prdName" class="auto_height">Travel 04 Date of Birth</label>
                      <input type="date" formControlName="traveller4DOB" />
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;"
                      *ngIf="(isMultiTrip && traveller5) || (subProduct == 'Family' && traveller5) || (isFamilyCover && subProduct == 'Senior Citizen' && traveller5)">
                      <label for="prdName" class="auto_height">Travel 05 Date of Birth</label>
                      <input type="date" formControlName="traveller5DOB" />
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;"
                      *ngIf="(isMultiTrip && traveller6) || (subProduct == 'Family' && traveller6) || (isFamilyCover && subProduct == 'Senior Citizen' && traveller6)">
                      <label for="prdName" class="auto_height">Travel 06 Date of Birth</label>
                      <input type="date" formControlName="traveller6DOB" />
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;">
                      <label for="prdName" class="auto_height">Plan Selected</label>
                      <select id="prdName" class="form-control" (change)="getPlanDetail($event)" [value]="0">
                        <option class="optionBG" value="0" selected>Select Plan </option>
                        <option class="optionBG" *ngFor="let plan of plans">{{plan.PlanName}}</option>
                      </select>
                    </div>
                    <div  class="col-xl-6 col-lg-4 col-md-6 col-sm-6 col-12 form-group statediv" style="max-width: 45%;">
                      <label for="custState" class="auto_height">Customer State (Applicable for GST)</label>
                      <select id="custState" class="custom-select">
                        <option class="optionBG" value="Maharashtra">Maharashtra</option>
                        <option class="optionBG" value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option class="optionBG" value="Jharkhand">Jharkhand</option>
                        <option class="optionBG" value="Karnataka">Karnataka</option>
                        <option class="optionBG" value="Kerala">Kerala</option>
                        <option class="optionBG" value="Lakshadweep">Lakshadweep</option>
                        <option class="optionBG" value="Madhya Pradesh">Madhya Pradesh</option>
                      </select>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group statediv">
                        <div class="card-header" (click)="toggleAddOn($event)">
                          <a class="collapsed card-link" data-toggle="collapse">
                            Need Additional Covers
                          </a>
                        </div>
                        <div id="collapseTwo" *ngIf="showAddOn">
                          <div class="card-body">
                            <div class="tablediv2">
                                <div class="tablediv no_border no_padding no_margin">
                                    <table>
                                      <tbody>
                                        <tr>
                                          <td>
                                            <input type="checkbox" id="USAorCANADA" (change)="getTravelLoc($event)" />
                                            <label for="USAorCANADA"></label>
                                          </td>
                                          <td style="border: none;"><label for="USAorCANADA" value="abc">Semi Professional Sport</label></td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <input type="checkbox" id="SCHENGEN" (change)="getTravelLoc($event)" />
                                            <label for="SCHENGEN"></label>
                                          </td>
                                          <td style="border: none;"><label for="SCHENGEN" value="abc">Advanture Sport</label>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                              <div class="text-center">
                                <a class="cstmbtn">Continue</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                  </div>
                  <div class="text-center">
                    <input type="submit" value="Next" id="btnSubmit" class="cstmbtn"
                      (click)="calculateQuote(travelForm)" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  

</ion-content>