<head>
  <title>Payment - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="assets/payment/scss/style.css" /> -->
</head>

<body>
  <aside class="menu slide-menu-left">
    <div class="leftlogodiv">
      <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
    </div>
    <div id="leftaccord" class="leftaccordmenu">
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#leftcollapseOne">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
              </svg>
          </a>
        </div>
        <div id="leftcollapseOne" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a>submenu 1</a>
            </li>
            <li>
              <a>submenu 2</a>
            </li>
            <li>
              <a>submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#leftcollapseTwo">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
              </svg>
          </a>
        </div>
        <div id="leftcollapseTwo" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a>submenu 1</a>
            </li>
            <li>
              <a>submenu 2</a>
            </li>
            <li>
              <a>submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
    </div>
  </aside>
  <header class="container-fluid fixed-top">
    <div class="row" style="margin-bottom: 0px;">
      <div class="container">
        <div class="row" style="margin-bottom: 0px;">
          <div class="col-10">
            <h1>
              <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
            </h1>
          </div>
          <div class="col-2 text-center twobtns">
            <a (click)="home($event)" style="cursor: pointer;" class="auto_height"><span style="font-weight: bold; color:white;">HOME</span></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <ion-content>
    <div class="container-fluid maindiv">
      <div class="row" style="margin-bottom: 0px;">
        <section class="container headingsec">
          <h2>Payment</h2>
          <!-- <button type="button" id="btnPay" class="cstmbtn" (click)="notify($event)">Notify</button> -->
        </section>
        <section class="container accordsec" *ngIf="!isNewPID">
          <div id="accordion">
            <div class="card">
              <div class="card-body cstmbody text-center">
                <table class="premTable">
                  <thead>
                    <tr>
                      <th class="text-center" colspan="2">
                        Total Premium Payable
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center" colspan="2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.333 24.053">
                          <path
                            d="M10.873 2.272h3.948L16.333 0H1.512L0 2.272h2.573c2.606 0 5.011.2 5.973 2.381H1.512L0 6.926h8.829v.015c0 1.633-1.357 4.138-5.839 4.138H.822v2.123l8.684 10.854h3.867L4.388 12.824c3.7-.2 7.17-2.267 7.67-5.9h2.763l1.512-2.273h-4.315a5.02 5.02 0 0 0-1.145-2.379z"
                            fill="#4b4b4b" /></svg>
                        <strong *ngIf="travelProp">{{travelProp.SavePolicy[0].TotalPremium | formatnumbers}}</strong>
                        <strong *ngIf="pendingNavigation">{{totalPendingAmount | formatnumbers}}</strong>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot *ngIf="showCustInt">
                    <tr>
                      <td class="text-left" (change)="showPID($event)">
                        <!-- <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="switchintermed">
                          <label class="custom-control-label" for="switchintermed"
                            *ngIf="isCustomer">Intermediary</label>
                          <label class="custom-control-label" for="switchintermed" *ngIf="!isCustomer">Customer</label>
                        </div> -->
                      </td>
                      <!-- <td class="text-right">
                        <label>GST</label>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401.998 401.998">
                          <path
                            d="M326.62 91.076c-1.711-1.713-3.901-2.568-6.563-2.568h-48.82c-3.238-15.793-9.329-29.502-18.274-41.112h66.52c2.669 0 4.853-.856 6.57-2.565 1.704-1.712 2.56-3.903 2.56-6.567V9.136c0-2.666-.855-4.853-2.56-6.567C324.334.859 322.15 0 319.481 0H81.941c-2.666 0-4.853.859-6.567 2.568-1.709 1.714-2.568 3.901-2.568 6.567v37.972c0 2.474.904 4.615 2.712 6.423s3.949 2.712 6.423 2.712h41.399c40.159 0 65.665 10.751 76.513 32.261H81.941c-2.666 0-4.856.855-6.567 2.568-1.709 1.715-2.568 3.901-2.568 6.567v29.124c0 2.664.855 4.854 2.568 6.563 1.714 1.715 3.905 2.568 6.567 2.568h121.915c-4.188 15.612-13.944 27.506-29.268 35.691-15.325 8.186-35.544 12.279-60.67 12.279H81.941c-2.474 0-4.615.905-6.423 2.712-1.809 1.809-2.712 3.951-2.712 6.423v36.263c0 2.478.855 4.571 2.568 6.282 36.543 38.828 83.939 93.165 142.182 163.025 1.715 2.286 4.093 3.426 7.139 3.426h55.672c4.001 0 6.763-1.708 8.281-5.141 1.903-3.426 1.53-6.662-1.143-9.708-55.572-68.143-99.258-119.153-131.045-153.032 32.358-3.806 58.625-14.277 78.802-31.404 20.174-17.129 32.449-39.403 36.83-66.811h47.965c2.662 0 4.853-.854 6.563-2.568 1.715-1.709 2.573-3.899 2.573-6.563V97.646c0-2.669-.858-4.856-2.573-6.57z"
                            data-original="#000000" data-old_color="#0f0f0f" fill="#0f0f0f" /></svg>
                        <span>{{travelResponse.TotalGSTAmt}}</span>
                      </td> -->
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </section>
        <section class="container accordsec" *ngIf="isNewPID">
          <div id="accordion">
            <div class="card">
              <div class="card-body cstmbody text-center">
                <table class="premTable">
                  <thead>
                    <tr>
                      <th class="text-center" colspan="2">
                        Total Amount Payable
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center" colspan="2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.333 24.053">
                          <path
                            d="M10.873 2.272h3.948L16.333 0H1.512L0 2.272h2.573c2.606 0 5.011.2 5.973 2.381H1.512L0 6.926h8.829v.015c0 1.633-1.357 4.138-5.839 4.138H.822v2.123l8.684 10.854h3.867L4.388 12.824c3.7-.2 7.17-2.267 7.67-5.9h2.763l1.512-2.273h-4.315a5.02 5.02 0 0 0-1.145-2.379z"
                            fill="#4b4b4b" /></svg>
                        <strong>{{newPID.pidAmount}}</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
        <section class="container accordsec paymentsec">
          <ul>
            <li (click)="makePayment1('wallet', $event)" *ngIf="!pendingNavigation && ((isNewPID && isWalletShowAtPID) || (!isNewPID && isWalletShow))">
              <a title="Wallet">
                <div>
                  <img src="assets/images/wallet.png" alt="Wallet" />
                </div>
                <span>Wallet</span>
              </a>
            </li>
            <li (click)="makePayment1('wallet', $event)" *ngIf="pendingNavigation && policyIDS.length == 1">
              <a title="Wallet">
                <div>
                  <img src="assets/images/wallet.png" alt="Wallet" />
                </div>
                <span>Wallet</span>
              </a>
            </li>
            <!-- <li (click)="makePayment2('Cheque')">
              <a title="Cheque">
                <div>
                  <img src="assets/images/cheque.png" alt="Cheque" />
                </div>
                <span>Cheque/<br />Demand Draft</span>
              </a>
            </li> -->
            <!-- <li (click)="makePayment2('PID')" *ngIf="!isNewPID && !pendingNavigation">
              <a title="PID">
                <div>
                  <img src="assets/images/pid.png" alt="PID" />
                </div>
                <span>PID</span>
              </a>
            </li> -->
            <!-- <li (click)="makePayment2('PID')" *ngIf="pendingNavigation && policyIDS.length == 1">
              <a title="PID">
                <div>
                  <img src="assets/images/pid.png" alt="PID" />
                </div>
                <span>PID</span>
              </a>
            </li> -->
            <!-- <li (click)="makePayment2('dualCheque')" *ngIf="!isNewPID && !pendingNavigation">
              <a title="Dual Cheque">
                <div>
                  <img src="assets/images/dual_check.png" alt="Credit Card" />
                </div>
                <span>Dual Cheque</span>
              </a>
            </li> -->
            <!-- <li (click)="makePayment2('dualCheque')" *ngIf="pendingNavigation && policyIDS.length == 1">
              <a title="Dual Cheque">
                <div>
                  <img src="assets/images/dual_check.png" alt="Credit Card" />
                </div>
                <span>Dual Cheque</span>
              </a>
            </li> -->
            <li (click)="makePayment1('card',$event)" *ngIf="!pendingNavigation">
              <a title="Credit Card">
                <div>
                  <img src="assets/images/credit-card.png" alt="Credit Card" />
                </div>
                <span>Credit Card</span>
              </a>
            </li>
            <li (click)="makePayment1('card',$event)" *ngIf="pendingNavigation && policyIDS.length == 1">
              <a title="Credit Card">
                <div>
                  <img src="assets/images/credit-card.png" alt="Credit Card" />
                </div>
                <span>Credit Card</span>
              </a>
            </li>
            <li (click)="makePayment1('card',$event)" *ngIf="!pendingNavigation">
              <a title="Debit Card">
                <div>
                  <img src="assets/images/credit-card.png" alt="Debit Card" />
                </div>
                <span>Debit Card</span>
              </a>
            </li>
            <li (click)="makePayment1('card',$event)" *ngIf="pendingNavigation && policyIDS.length == 1">
              <a title="Debit Card">
                <div>
                  <img src="assets/images/credit-card.png" alt="Debit Card" />
                </div>
                <span>Debit Card</span>
              </a>
            </li>
            <li (click)="makePayment1('netbanking',$event)" *ngIf="!pendingNavigation">
              <a title="Net Banking">
                <div>
                  <img src="assets/images/file.png" alt="Net Banking" />
                </div>
                <span>Net Banking</span>
              </a>
            </li>
            <li (click)="makePayment1('netbanking',$event)" *ngIf="pendingNavigation && policyIDS.length == 1">
              <a title="Net Banking">
                <div>
                  <img src="assets/images/file.png" alt="Net Banking" />
                </div>
                <span>Net Banking</span>
              </a>
            </li>
            <li (click)="makePayment2('paymentLink')" *ngIf="!isNewPID && !pendingNavigation">
              <a title="Send Payment Link">
                <div>
                  <img src="assets/images/https.png" alt="Send Payment Link" />
                </div>
                <span>Send Payment<br /> Link</span>
              </a>
            </li>
            <li (click)="makePayment2('paymentLink')" *ngIf="pendingNavigation && policyIDS.length == 1">
              <a title="Send Payment Link">
                <div>
                  <img src="assets/images/https.png" alt="Send Payment Link" />
                </div>
                <span>Send Payment<br /> Link</span>
              </a>
            </li>
            <li (click)="makePayment1('upi',$event)" *ngIf="!pendingNavigation">
              <a title="UPI">
                <div>
                  <img src="assets/images/bhim.png" alt="UPI" />
                </div>
                <span>UPI</span>
              </a>
            </li>
            <li (click)="makePayment1('upi',$event)" *ngIf="pendingNavigation && policyIDS.length == 1">
              <a title="UPI">
                <div>
                  <img src="assets/images/bhim.png" alt="UPI" />
                </div>
                <span>UPI</span>
              </a>
            </li>
            <li (click)="makePayment1('emi')" *ngIf="!pendingNavigation && ((isNewPID && isWalletShowAtPID) || isEMISHow)">
              <a title="EMI">
                <div>
                  <img src="assets/images/emi.svg" alt="EMI" />
                </div>
                <span>EMI</span>
              </a>
            </li>
            <li (click)="makePayment1('emi')" *ngIf="pendingNavigation && policyIDS.length == 1">
              <a title="EMI">
                <div>
                  <img src="assets/images/emi.svg" alt="EMI" />
                </div>
                <span>EMI</span>
              </a>
            </li>
          </ul>
          <!-- <div class="orline"  *ngIf="!isNewPID && !pendingNavigation">
            <span>OR</span>
          </div> -->
          <!-- <div class="text-center twobtns"  *ngIf="!isNewPID && !pendingNavigation">
            
            <button type="button" id="btnPayLat" class="cstmbtn" (click)="payLater($event)">Pay Later</button>
          </div> -->
        </section>
        <div id="myNav3" class="overlay">
          <div class="overlay-content">
            <div style="margin-top: 15%; padding: 0 15%;">
              <!-- class="container-fluid maindiv" -->
              <div class="row" style="margin-bottom: 0px;">
                <section class="container accordsec">
                  <div id="accordion">
                    <div class="card" style="margin-top: 15px; background: #fff">
                      <div class="card-header">
                        <a>
                          Proposal Saved
                        </a>
                      </div>
                      <div class="collapse show">
                        <div class="card-body" style="padding: 5px 5px">
                          <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                              <div class="text-center msgdiv" *ngIf="payLaterConfRes">
                                <span id="message" class="successMsg">Your proposal {{payLaterConfRes.ConfirmPolicy[0].PFProposalNo}} has been saved.</span>
                              </div>
                              <div class="text-center msgdiv">
                                <span id="message" class="successMsg">You can make the payment from Pending Payment section</span>
                              </div>
                              <div class="text-center twobtns" style="margin-top:5px;">
                                <button type="button" id="btnPay" class="cstmbtn" (click)="close($event)">OK</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <script src="assets/payment/js/classie.js"></script>
  <script>
    (function (window) {
      'use strict';
      var body = document.body,
        mask = document.createElement("div"),
        toggleSlideLeft = document.querySelector(".toggle-slide-left"),
        activeNav;
      mask.className = "mask";

      /* slide menu left */
      toggleSlideLeft.addEventListener("click", function () {
        classie.add(body, "sml-open");
        document.body.appendChild(mask);
        activeNav = "sml-open";
      });

      /* hide active menu if mask is clicked */
      mask.addEventListener("click", function () {
        classie.remove(body, activeNav);
        activeNav = "";
        document.body.removeChild(mask);
      });

      /* hide active menu if close menu button is clicked */
      [].slice.call(document.querySelectorAll(".close-menu")).forEach(function (el, i) {
        el.addEventListener("click", function () {
          classie.remove(body, activeNav);
          activeNav = "";
          document.body.removeChild(mask);
        });
      });
    })(window);
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>