.healthBg{
    background-image: url('src/assets/images/healthBG.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.travelBg{
    background-image: url('src/assets/images/travelBG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.motorBg{
    background-image: url('src/assets/images/motorBG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.carBg{
    background-image: url('src/assets/images/carBG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.label{
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: white;
    text-align: center;
    top: 75px;
}

.label1{
    font-family: ProximaNova;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
}

.img{
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 15%;
    height: 20px;
}