<head>
  <title>Renewal - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
</head>
  <aside class="menu slide-menu-left">
    <div class="leftlogodiv">
      <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
    </div>
    <div id="leftaccord" class="leftaccordmenu">
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#leftcollapseOne">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseOne" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a href="#">submenu 1</a>
            </li>
            <li>
              <a href="#">submenu 2</a>
            </li>
            <li>
              <a href="#">submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#leftcollapseTwo">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseTwo" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a href="#">submenu 1</a>
            </li>
            <li>
              <a href="#">submenu 2</a>
            </li>
            <li>
              <a href="#">submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
    </div>
  </aside>
  <header class="container-fluid fixed-top">
    <div class="row" style="margin-bottom: 0px;">
      <div class="container">
        <div class="row" style="margin-bottom: 0px;">
          <div class="col-10">
            <h1>
              <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
            </h1>
          </div>
          <div class="col-2 text-center twobtns">
            <a  class="auto_height"><span style="font-weight: bold; color:white;">HOME</span></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <ion-content>
  <div class="container-fluid maindiv" style="padding-left: 0px;">
    <div class="row" style="margin-bottom: 0px;">
      <section class="container headingsec">
        <h2>Dashboard</h2>
      </section>
      <section class="container accordsec" style="width:80%;">
          <ion-grid>
              <ion-row style="margin-bottom: 0px;">
                <ion-col *ngIf="isHealth" (click)="routeToPage('health')">
                  <ion-card class="healthBg">
                    <ion-card-header>
                      <ion-card-subtitle>&nbsp;</ion-card-subtitle>
                      <ion-card-title class="label">Health</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <br>
                      <br>
                      <br>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col *ngIf="isTravel" (click)="routeToPage('travel')">
                  <ion-card class="travelBg">
                    <ion-card-header>
                      <ion-card-subtitle>&nbsp;</ion-card-subtitle>
                      <ion-card-title class="label">Travel</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <br>
                      <br>
                      <br>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col *ngIf="isTwoWheeler" (click)="routeToPage('twoWheeler')">
                  <ion-card class="motorBg">
                    <ion-card-header>
                      <ion-card-subtitle>&nbsp;</ion-card-subtitle>
                      <ion-card-title class="label">Two Wheeler</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <br>
                      <br>
                      <br>
                    </ion-card-content>
                  </ion-card>
                </ion-col>

                <ion-col *ngIf="isMotor" (click)="routeToPage('car')">
                  <ion-card class="carBg">
                    <ion-card-header>
                      <ion-card-subtitle>&nbsp;</ion-card-subtitle>
                      <ion-card-title class="label">Car</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <br>
                      <br>
                      <br>
                    </ion-card-content>
                  </ion-card>
                </ion-col>

                <ion-col *ngIf="isPayInSlips" (click)="routeToPage('payInSlip')">
                  <ion-card class="motorBg">
                    <ion-card-header>
                      <ion-card-subtitle>&nbsp;</ion-card-subtitle>
                      <ion-card-title class="label">Pay-in-Slips</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <br>
                      <br>
                      <br>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>

              <ion-row style="margin-bottom: 0px;">
                <ion-col (click)="routeToPage('healthRenewal')">
                    <ion-card class="healthBg">
                      <ion-card-header>
                        <ion-card-subtitle>&nbsp;</ion-card-subtitle>
                        <ion-card-title class="label">Renewal Health</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <br>
                        <br>
                        <br>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>

                  <ion-col (click)="routeToPage('instantRenewal')">
                    <ion-card class="healthBg">
                      <ion-card-header>
                        <ion-card-subtitle>&nbsp;</ion-card-subtitle>
                        <ion-card-title class="label">Instant Renewal</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <br>
                        <br>
                        <br>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>

                  <ion-col (click)="goToPID()">
                    <ion-card class="motorBg">
                      <ion-card-header>
                        <ion-card-subtitle>&nbsp;</ion-card-subtitle>
                        <ion-card-title class="label">PID</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <br>
                        <br>
                        <br>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>

                  <ion-col (click)="routeToPage('saveQuote')">
                    <ion-card class="motorBg">
                      <ion-card-header>
                        <ion-card-subtitle>&nbsp;</ion-card-subtitle>
                        <ion-card-title class="label">Save Quotes</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <br>
                        <br>
                        <br>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>

                  <ion-col (click)="routeToPage('pendingPayment')">
                    <ion-card class="motorBg">
                      <ion-card-header>
                        <ion-card-subtitle>&nbsp;</ion-card-subtitle>
                        <ion-card-title class="label">Pending Payment</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <br>
                        <br>
                        <br>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              
            </ion-grid>
           
      </section>


     
    </div>
  </div>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title class="label1">Dashboard</ion-card-title>
    </ion-card-header>
  </ion-card> -->

</ion-content>