<head>
  <title>Health Proposal - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <script>
    function myFunction() {
      var x = document.getElementById("travellersrange").value;
      document.getElementById("travellersvalue").innerHTML = x;
    }
  </script>
</head>

<aside class="menu slide-menu-left">
  <div class="leftlogodiv">
    <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
  </div>
</aside>
<header class="container-fluid fixed-top">
  <div class="row" style="margin-bottom: 0px;">
    <div class="container">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-10">
          <h1>
            <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>
        <div class="col-2 text-center twobtns">
          <a (click)="home($event)" style="cursor: pointer;" class="auto_height"><span
              style="font-weight: bold; color:white;">HOME</span></a>
        </div>
      </div>
    </div>
  </div>
</header>
<ion-content>
  <div class="container-fluid maindiv">
    <div class="row" style="margin-bottom: 0px;">
      <section class="container headingsec">
        <h2>Proposal</h2>
      </section>
      <section class="container accordsec">
        <div id="accordion">
          <div class="card">
            <div class="card-header" (click)="getBasicInfo($event)">
              <a class="card-link collapsed" id="basicDetails">
                basic
              </a>
            </div>
            <div lass="collapse show" *ngIf='showBasicInfo'>
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 form-group statediv">
                    <label for="prdName" class="auto_height">Product Name</label>
                    <input type="text" class="form-control" id="prdName" value="Hospifund" disabled="disabled" />
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 form-group">
                    <label for="policyten">SI per Day/SI per Event</label>
                    <input type="text" class="form-control" id="policyten" value="{{siData | formatnumbers}}"
                      disabled="disabled" />
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 form-group">
                    <label for="eldAgevalue">Age of Insured</label>
                    <input type="text" class="form-control" id="eldAgevalue" value="{{ageofInsured}}"
                      disabled="disabled" />
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 form-group">
                    <label for="eldAgevalue">Policy Tenure</label>
                    <input type="text" class="form-control" id="eldAgevalue" value="{{policy_tenure}}"
                      disabled="disabled" />
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group">
                    <label for="propBelong">Proposal Belongs to J&K</label>
                    <input type="text" class="form-control" id="propBelong" value="{{isJammuandKashmir}}"
                      disabled="disabled" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" (click)="getInsuredInfo($event)">
              <a class="card-link collapsed" id="insuredDetails">
                insured
              </a>
            </div>
            <div class="collapse show" *ngIf='showInsuredInfo'>
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 form-group">
                    <label for="memCategory">Members Category</label>
                    <input type="text" id="memCategory" class="form-control" autocomplete="off"
                      value='{{isChildorAdult}}' disabled />
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 form-group">
                    <label for="relationType" class="auto_height">Relationship with Applicant</label>
                    <select class="custom-select" placeholder="Mother" id="relationType" name="relationType"
                      [(ngModel)]="selectedRelation" (ngModelChange)="getRelation(selectedRelation)"
                      #relationType="ngModel" required>
                      <option class="optionBG" value='' selected disabled>Select Relationship</option>
                      <option class="optionBG" value="{{i.id}}" *ngFor="let i of insured_relations">
                        {{i.val}}
                      </option>
                    </select>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 form-group">
                    <label for="sltTitle" class="auto_height">Title</label>
                    <select placeholder="Title" id="titleType" name="titleType" [(ngModel)]="selectedInsuredTitle"
                      (ngModelChange)="getInsuredPersonTitle(selectedInsuredTitle)" #subProuctType="ngModel"
                      class="custom-select" required>
                      <option class="optionBG" value='' selected disabled>Select Title</option>
                      <option class="optionBG" value={{title.val}} *ngFor="let title of titles"> {{title.val}}</option>
                    </select>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 form-group">
                    <label for="txtName" class="auto_height">Full Name</label>
                    <input type="text" id="txtName" name="txtName" class="form-control" #txtName="ngModel"
                      placeholder="Enter Full Name" (keydown)="alphaOnly($event)" [(ngModel)]="insured_name" (input)="checkRelation(insured_name)" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="text" class="form-control" id="insuredDOB" name="insuredDOB" #insuredDOB="ngModel"
                      [(ngModel)]="carried_over_dob" readonly required placeholder="Enter DOB" readonly />
                  </div>
                  <div class="col-xl-6 col-lg-4 col-md-4 col-sm-12 col-6 form-group">
                    <label>Do you have pre-existing Disease &amp; Habits</label>
                    <div class="radioboxdiv">
                      <div class="form-check form-check-inline">
                        <input class="form-control" type="radio" id="diseasesHabitsYes" name="diseasesHabits"
                          (click)="getDiabetesData(true)" />
                        <label class="auto_height" for="diseasesHabitsYes">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-control" type="radio" id="diseasesHabitsno" name="diseasesHabits"
                          checked="checked" (click)="getDiabetesData(false)" />
                        <label class="auto_height" for="diseasesHabitsno">No</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf='hasDiabetes==true'>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                    <div style="text-align: center;
                    font-size: 20px;">
                      <h5>Medical and Lifestyle History</h5>
                    </div>
                    <ion-row *ngFor='let a of allAilments'>
                      <ion-col size="6">
                        <label class="auto_height">{{a.Name}}</label>
                        <div *ngIf='a.has_disease==false'>No</div>
                        <div *ngIf='a.has_disease==true'>Yes</div>
                      </ion-col>
                      <ion-col size="6" style="text-align:right;">
                        <ion-toggle [(ngModel)]='a.has_disease'></ion-toggle>
                      </ion-col>
                    </ion-row>
                  </div>
                </div>
                <div class="text-center twobtns">
                  <button type="button" id="btnSubmit" class="cstmbtn" (click)='continueApplicant()'>Continue</button>
                </div>
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-header" (click)="getApplicantInfo($event)">
              <a class="card-link collapsed" id="applicantDetails">
                Applicant
              </a>
            </div>
            <div class="collapse show" *ngIf='showApplicantInfo'>
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                    <label class="auto_height">Customer Type</label>
                    <div class="radioboxdiv">
                      <div class="form-check form-check-inline">
                        <input type="radio" id="custTypeNew" name="custType" [checked]="isNew==true"
                          (change)="getCustomerData(true)" />
                        <label for="custTypeNew">New</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input type="radio" id="custTypeExist" name="custType" [checked]="isNew==false"
                          (change)="getCustomerData(false)" />
                        <label for="custTypeExist">Existing</label>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                    <label for="adhaarNo" class="auto_height no_margin">Aadhaar Card Number</label>
                    <input type="tel" [(ngModel)]="adhaar_no" id="adhaarNo" name="adhaarNo" #adhaarNo="ngModel" required
                      class="form-control" placeholder="Enter Aadhaar No." />
                    <div *ngIf="adhaar_no">
                      <label *ngIf="adhaar_no.length < 12 || adhaar_no.length > 12">Aadhar Card Number should be 12
                        digit number</label>
                    </div>
                  </div> -->
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                    <label for="panNo" class="auto_height no_margin">Pan Card Number</label>
                    <input type="tel" [(ngModel)]="pan_no" id="panNo" name="panNo" #panNo="ngModel" required
                      class="form-control" placeholder="Enter Pan No." />
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                    <label for="titleType" class="auto_height">Title</label>
                    <select class="custom-select" id="titleType" name="titleType" [(ngModel)]="applicant_title"
                      (ngModelChange)="getApplicantTitle(applicant_title)" #subProuctType="ngModel" required>
                      <option class="optionBG" value='' selected disabled>Select Title</option>
                      <option class="optionBG" value={{title.val}} *ngFor="let title of titles"> {{title.val}}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                    <label for="applicantName" class="auto_height">Full Name</label>
                    <input type="text" [(ngModel)]="applicant_name" id="applicantName" name="applicantName"
                      #applicantName="ngModel" class="form-control" placeholder="Enter Full Name" (keydown)="alphaOnly($event)"
                      disabled='{{!isCustomerNew}}' />
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group dob2" *ngIf='isUserModalOpened=="no"'>
                    <label for="applicantDateofBirth" class="auto_height">Date of Birth</label>
                    <mat-form-field class="example-full-width">
                      <input readonly matInput class="form-control" style="background: none;" [min]="minDate"
                        [max]="applicantMaxDate" [matDatepicker]="hospifund30" id="applicantDateofBirth"
                        name="applicantDateofBirth" #applicantDateofBirth="ngModel" [(ngModel)]="applicant_dob">
                      <mat-datepicker-toggle matSuffix [for]="hospifund30"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #hospifund30></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group dob2" *ngIf='isUserModalOpened=="yes"'>
                    <label for="applicantDateofBirth33" class="auto_height">Date of Birth</label>
                    <input type="text" id="applicantDateofBirth33" name="applicantDateofBirth33"
                      #applicantDateofBirth33="ngModel" [(ngModel)]="applicant_dob" class="form-control"
                      placeholder="Enter DOB" />
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                    <label for="applicantNumber" class="auto_height">Mobile Number</label>
                    <input type="tel" [(ngModel)]="applicant_number" id="applicantNumber" name="applicantNumber"
                      #applicantNumber="ngModel" class="form-control" maxlength="10" autocomplete="off"
                      placeholder="Enter Number" (keypress)='numberOnly($event)' />
                    <div *ngIf="applicant_number">
                      <!-- <label *ngIf="applicant_number < 10">Mobile Number should be 10 Number</label> -->
                      <label *ngIf="applicant_number.length < 10">Mobile Number should be 10 Number</label>
                    </div>
                  </div>
                </div>
                <div class="tablediv">
                  <h4 class="text-center">Correspondence Address</h4>
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                      <label for="applicant_aaddr1" class="auto_height">Address 01</label>
                      <input type="text" [(ngModel)]="applicant_aaddr1" id="applicantAddr1" name="applicantAddr1"
                        #applicantAddr1="ngModel" required class="form-control" placeholder="Enter Address1" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                      <label for="applicantAddr2" class="auto_height">Address 02</label>
                      <input type="text" [(ngModel)]="applicant_aaddr2" id="applicantAddr2" name="applicantAddr2"
                        #applicantAddr2="ngModel" required class="form-control" placeholder="Enter Address2" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                      <label for="applicant_landmark" class="auto_height">Landmark</label>
                      <input type="text" [(ngModel)]="applicant_landmark" id="applicantLandmark"
                        name="applicantLandmark" #applicantLandmark="ngModel" class="form-control"
                        placeholder="Enter Landmark" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                      <label for="appPincode" class="auto_height">Pincode</label>
                      <input type="tel" [(ngModel)]="applicant_pincode" id="applicantPincode" name="applicantPincode"
                        #applicantPincode="ngModel" required class="form-control" maxlength="6"
                        placeholder="Enter Pincode" (input)="getPincodeDetails(applicant_pincode)" />
                      <div *ngIf="applicant_pincode">
                        <label *ngIf="applicant_pincode.length < 6">Pincode should be 6 digits Number</label>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                      <label for="gstState" class="auto_height">State</label>
                      <input type="text" id="gstState" name="gstState" #gstState="ngModel" [(ngModel)]="applicant_state"
                        class="form-control" placeholder="Enter State" readonly required />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                      <label for="gstCity" class="auto_height">City</label>
                      <select class="custom-select" [(ngModel)]="applicant_city"
                        (ngModelChange)="getCityList(applicant_city)" id="gstCity" name="gstCity" #gstCity="ngModel"
                        required>
                        <option class="optionBG" value='' selected disabled>Select City</option>
                        <option class="optionBG" *ngFor="let c of cityData" [value]="c.CityName">{{c.CityName}}
                        </option>
                      </select>
                      <!-- <input type="text" class="form-control" placeholder="Enter City" id="gstCity" name="gstCity"
                        #gstCity="ngModel" [(ngModel)]="applicant_city" required readonly /> -->
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                      <label for="appOccpt" class="auto_height">Occupation</label>
                      <select class="custom-select" [(ngModel)]="applicant_occpt"
                        (ngModelChange)="getOccupation(applicant_occpt)" id="appOccpt" name="appOccpt"
                        #appOccpt="ngModel" required>
                        <option class="optionBG" value='' selected disabled>Select Occupation</option>
                        <option class="optionBG" *ngFor="let o of occupations" [value]="o.id">{{o.val}}
                        </option>
                      </select>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                      <label for="applicantEmail" class="auto_height">Email (Policy will be sent to this ID)</label>
                      <input type="email" [(ngModel)]="applicant_email" id="applicantEmail" name="applicantEmail"
                        #applicantEmail="ngModel" required class="form-control" placeholder="Enter Email" />
                    </div>
                  </div>
                </div>
                <div class="tablediv" style="border-top: 2px solid #D5C8C1;">
                  <h4 class="text-center">Nominee Details</h4>
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                      <label for="nomineetitleType" class="auto_height">Title</label>
                      <select id="nomineetitleType" name="nomineetitleType" [(ngModel)]="selectedNomineeTitle"
                        (ngModelChange)="getNomineeTitle(selectedNomineeTitle)" #nomineetitleType="ngModel" required
                        class="custom-select">
                        <option class="optionBG" value='' selected disabled>Select Title</option>
                        <option class="optionBG" value={{title.val}} *ngFor="let title of nomineeTitles"> {{title.val}}
                      </select>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                      <label for="nomineeName" class="auto_height">Nominee Full Name</label>
                      <input type="text" [(ngModel)]="nominee_name" id="nomineeName" name="nomineeName"
                        #nomineeName="ngModel" required class="form-control" placeholder="Enter Full Name" (keydown)="alphaOnly($event)" />

                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group">
                      <label for="nomineeRelat" class="auto_height">Relationship with Applicant</label>
                      <select id="nomineeRelat" name="nomineeRelat" [(ngModel)]="nominee_selectedRelation"
                        (ngModelChange)="getNomineeRealtion(nominee_name)" #nomineeRelat="ngModel" required
                        class="custom-select">
                        <option class="optionBG" value='' selected disabled>Select Relationship</option>
                        <option class="optionBG" [value]="nr.id" *ngFor='let nr of nominee_relations'>
                          {{nr.val}}
                        </option>

                      </select>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 form-group dob2">
                      <label for="nomineeDOB">Date of Birth</label>
                      <mat-form-field class="example-full-width">
                        <input readonly matInput class="form-control" style="background: none;" [min]="minDate"
                          [max]="maxDate" [matDatepicker]="hospifundnom" id="nomineeDOB" name="nomineeDOB"
                          #nomineeDOB="ngModel" [(ngModel)]="nominee_dob">
                        <mat-datepicker-toggle matSuffix [for]="hospifundnom"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #hospifundnom></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center twobtns">
                <button type="button" id="btnSubmit" class="cstmbtn" (click)='submitProposal()'>Submit</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ion-content>