// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #881717;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #931f1f;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #931f1f;
  --ion-color-warning-tint: #931f1f;

  // --ion-color-warning: #931f1f;
  // --ion-color-warning-rgb: 255, 206, 0;
  // --ion-color-warning-contrast: #ffffff;
  // --ion-color-warning-contrast-rgb: 255, 255, 255;
  // --ion-color-warning-shade: #931f1f;
  // --ion-color-warning-tint: #931f1f;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  $loading-ios-background: transparent;

  ion-content{ --background: transparent; }
  ion-row{ --background: transparent;  }
  ion-select{--background: transparent;  }
  ion-item{--background: transparent;  }
  ion-segment{ --background: transparent;  }
  ion-segment-button{ --background: transparent;
  color: #931f1f; 
  --color-checked: #931f1f;  }
  ion-list{ --background: transparent;  }

  ion-modal {
    // padding: 30px;
    // position: absolute;
    // top: 80px;
    // left: 45px;
    // display: inline-grid;
    // width: 90%;
    // height: 65%; 

    left: 45px;
    width: 80%;
    // height: 70%;
    right: 0;
    top: 80px;
    bottom: 0;
    position: absolute;
    contain: strict;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  

  // ion-modal{
  //   --display: inline-grid;
  // }
  // .modal { 
  //   display: inline-grid;    
  //   position: fixed;
  //   left: 0;
  //   right: 0;
  //   background-color: #fafafa;
  //   padding: 0;
  //   // max-height: 70%;
  //   width: 70%;
  //   margin: auto;
  //   overflow-y: hidden;
  //   border-radius: 2px;
  //   will-change: top, opacity;
  // }

  // .modal.datepicker-modal{
  //   display: inline-flex !important;
  // }

  // .li-ionic4-datePicker {
  //   .modal-wrapper {
  //     height: 25%;
  //     width: 310px;
  //     border-radius: 2px;
  //     @media (min-width: 768px) {
  //        width: 350px;
  //        height: 65%;
  //     }
  //   }
  // }

  
  .toastscheme{
    color: #ffffff;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
}

::-webkit-scrollbar{
  display:none;
  }

}
