<ion-app>
  <!-- <ngx-spinner bdOpacity = 0.9
  bdColor = "#333"
  size = "medium"
  color = "#fff"
  type = "line-spin-clockwise-fade"
  [fullScreen] = "true"
  >
  <p style="color: white" > Loading... </p></ngx-spinner> -->
  <div class="loader-backdrop" *ngIf="cs.showLoader">
    <div class="spinner">
        <p id="loader_msg">Please wait... We are processing your request</p>
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>