<head>
  <title>Payment - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
  <meta name="msapplication-navbutton-color" content="#931f1f" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="assets/payment/scss/style.css" /> -->
</head>

<body>
  <aside class="menu slide-menu-left">
    <div class="leftlogodiv">
      <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
    </div>
    <div id="leftaccord" class="leftaccordmenu">
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#leftcollapseOne">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseOne" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a>submenu 1</a>
            </li>
            <li>
              <a>submenu 2</a>
            </li>
            <li>
              <a>submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#leftcollapseTwo">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929">
              <path
                d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z" />
            </svg>
          </a>
        </div>
        <div id="leftcollapseTwo" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a>submenu 1</a>
            </li>
            <li>
              <a>submenu 2</a>
            </li>
            <li>
              <a>submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
    </div>
  </aside>
  <header class="container-fluid fixed-top">
    <div class="row" style="margin-bottom: 0px;">
      <div class="container">
        <div class="row" style="margin-bottom: 0px;">
          <div class="col-10">
            <h1>
              <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
            </h1>
          </div>
          <div class="col-2 text-center twobtns">
            <a (click)="home($event)" class="auto_height"><span style="font-weight: bold; color:white;">HOME</span></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <ion-content>
    <div class="container-fluid maindiv">
      <div class="row" style="margin-bottom: 0px;">
        <section class="container headingsec">
          <!-- <h2>Payment</h2> -->
        </section>
        <section class="container accordsec" *ngIf="!isNewPID">
          <div id="accordion">
            <div class="card">
              <div class="card-body cstmbody text-center">
                <table class="premTable">
                  <thead>
                    <tr>
                      <th class="text-center" colspan="2">
                        Total Premium Payable
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center" colspan="2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.333 24.053">
                          <path
                            d="M10.873 2.272h3.948L16.333 0H1.512L0 2.272h2.573c2.606 0 5.011.2 5.973 2.381H1.512L0 6.926h8.829v.015c0 1.633-1.357 4.138-5.839 4.138H.822v2.123l8.684 10.854h3.867L4.388 12.824c3.7-.2 7.17-2.267 7.67-5.9h2.763l1.512-2.273h-4.315a5.02 5.02 0 0 0-1.145-2.379z"
                            fill="#4b4b4b" /></svg>
                        <strong *ngIf="!isPendingPayment">{{travelProp.SavePolicy[0].TotalPremium | formatnumbers}}</strong>
                        <strong *ngIf="isPendingPayment">{{totalPendingAmount | formatnumbers}}</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
        <section class="container accordsec" *ngIf="isNewPID">
          <div id="accordion">
            <div class="card">
              <div class="card-body cstmbody text-center">
                <table class="premTable">
                  <thead>
                    <tr>
                      <th class="text-center" colspan="2">
                        Total Amount Payable
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center" colspan="2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.333 24.053">
                          <path
                            d="M10.873 2.272h3.948L16.333 0H1.512L0 2.272h2.573c2.606 0 5.011.2 5.973 2.381H1.512L0 6.926h8.829v.015c0 1.633-1.357 4.138-5.839 4.138H.822v2.123l8.684 10.854h3.867L4.388 12.824c3.7-.2 7.17-2.267 7.67-5.9h2.763l1.512-2.273h-4.315a5.02 5.02 0 0 0-1.145-2.379z"
                            fill="#4b4b4b" /></svg>
                        <strong>{{newPID.pidAmount}}</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
        <section class="container accordsec" *ngIf="paymentMode == 'Cheque'">
          <div id="accordion">
            <div class="card">
              <div class="card-body cstmbody text-center">
                <table class="premTable">
                  <div class="card">
                    <div class="card-body cstmbody text-center">
                      <img src="assets/images/cheque.png" alt="Cheque" /><label for="polnum"
                        class="auto_height no_margin" style="font-weight: bold;">&nbsp;&nbsp;Cheque / Demand
                        Draft</label>
                    </div>
                  </div>
                  <br>
                  <tbody [formGroup]="chequeForm">
                    <div class="row">
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 form-group label" *ngIf="!isNewPID">
                        <label class="auto_height no_margin">Proposal Number</label>
                        <input type="text" class="form-control" formControlName="proposalNo" readonly />
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 form-group label">
                        <label class="auto_height no_margin">Cheque Number</label>
                        <input type="text" class="form-control" formControlName="chequeNo" />
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 form-group label">
                        <label class="auto_height no_margin" style="padding-right: 15%;">Cheque Date</label>
                        <!-- <input type="date" class="form-control" [min]=minChequeDate [max]=maxChequeDate
                          formControlName="chequeDate" /> -->
                          <mat-form-field class="example-full-width" style="width: 65%;">
                            <input matInput class="form-control" style="background: none;" [min]="minChequeDate" [max]="maxChequeDate"
                              [matDatepicker]="picker" formControlName="chequeDate" (dateChange)="getdate1($event)" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                          </mat-form-field>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 form-group label">
                        <label class="auto_height no_margin">Bank Name</label>
                        <input type="text" class="form-control" formControlName="bankName"
                          (input)="selectBank($event)" />
                        <ul *ngIf="filterData">
                          <li *ngFor="let bank of filterData" (click)="selectedBankList(bank)">
                            {{bank.Value}}
                          </li>
                        </ul>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 form-group label">
                        <label class="auto_height no_margin">Branch Name</label>
                        <input type="text" class="form-control" formControlName="branchName"
                          (input)="selectBranch($event)" />
                        <ul *ngIf="filterBranchData">
                          <li *ngFor="let branch of filterBranchData" (click)="selectedBranchList(branch)">
                            {{branch.Value}}
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                      <button type="button" id="btnSave" class="cstmbtn" (click)="cancelPay($event)">Cancel</button>
                      <button type="button" id="btnSave" class="cstmbtn" (click)="makePay(chequeForm)">Pay Now</button>
                    </div>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
        <section class="container accordsec" *ngIf="paymentMode == 'PID'">
          <div id="accordion">
            <div class="card">
              <div class="card-body cstmbody text-center">
                <table class="premTable">
                  <div class="card">
                    <div class="card-body cstmbody text-center">
                      <img src="assets/images/pid.png" alt="Cheque" /><label for="polnum" class="auto_height no_margin"
                        style="font-weight: bold;">&nbsp;&nbsp;PIDs</label>
                    </div>
                  </div>
                  <br>
                  <tbody [formGroup]="PIDForm">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label for="sltpid1" class="auto_height no_margin">Select Details of PID 1 (Payment ID- Untagged
                          Amt.)</label>
                        <div class="row">
                          <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 form-group">
                            <select id="sltpid1" class="custom-select" style="padding-left:15px;" formControlName="PID1"
                              (change)="selectPID($event)">
                              <option class="optionBG" *ngFor="let PID of PIDData" value={{PID.PaymentID}}>
                                {{PID.PaymentID}}&nbsp;&#45;&nbsp;&#8377;{{PID.TaggedAmount}}&nbsp;&#45;&nbsp;{{PID.PaymentMode}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label for="sltpid1" class="auto_height no_margin">Select Details of PID 2 (Payment ID- Untagged
                          Amt.)</label>
                        <div class="row">
                          <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 form-group">
                            <select id="sltpid1" class="custom-select" style="padding-left:15px;" formControlName="PID2"
                              (change)="selectPID1($event)">
                              <option class="optionBG" *ngFor="let PID of filterPID" value={{PID.PaymentID}} [disabled]="paymentDone">
                                {{PID.PaymentID}}&nbsp;&#45;&nbsp;&#8377;{{PID.TaggedAmount}}&nbsp;&#45;&nbsp;{{PID.PaymentMode}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label for="sltpid1" class="auto_height no_margin">Select Details of PID 3 (Payment ID- Untagged
                          Amt.)</label>
                        <div class="row">
                          <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 form-group">
                            <select id="sltpid1" class="custom-select" style="padding-left:15px;" formControlName="PID3"
                              (change)="selectPID2($event)">
                              <option class="optionBG" *ngFor="let PID of filterPID1" value={{PID.PaymentID}} [disabled]="paymentDone">
                                {{PID.PaymentID}}&nbsp;&#45;&nbsp;&#8377;{{PID.TaggedAmount}}&nbsp;&#45;&nbsp;{{PID.PaymentMode}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label for="sltpid1" class="auto_height no_margin">Select Details of PID 4 (Payment ID- Untagged
                          Amt.)</label>
                        <div class="row">
                          <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 form-group">
                            <select id="sltpid1" class="custom-select" style="padding-left:15px;" formControlName="PID4"
                              (change)="selectPID3($event)">
                              <option class="optionBG" *ngFor="let PID of filterPID2" value={{PID.PaymentID}} [disabled]="paymentDone">
                                {{PID.PaymentID}}&nbsp;&#45;&nbsp;&#8377;{{PID.TaggedAmount}}&nbsp;&#45;&nbsp;{{PID.PaymentMode}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label for="sltpid1" class="auto_height no_margin">Select Details of PID 5 (Payment ID- Untagged
                          Amt.)</label>
                        <div class="row">
                          <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 form-group">
                            <select id="sltpid1" class="custom-select" style="padding-left:15px;" formControlName="PID5"
                              (change)="selectPID4($event)">
                              <option class="optionBG" *ngFor="let PID of filterPID3" value={{PID.PaymentID}} [disabled]="paymentDone">
                                {{PID.PaymentID}}&nbsp;&#45;&nbsp;&#8377;{{PID.TaggedAmount}}&nbsp;&#45;&nbsp;{{PID.PaymentMode}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                      <button type="button" id="btnSave" class="cstmbtn" (click)="cancelPay($event)">Cancel</button>
                      <button type="button" id="btnSave" class="cstmbtn" (click)="makePay(PIDForm)">Pay Now</button>
                    </div>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
        <section class="container accordsec" *ngIf="paymentMode == 'dualCheque'">
          <div id="accordion">
            <div class="card">
              <div class="card-body cstmbody text-center">
                <table class="premTable">
                  <div class="card">
                    <div class="card-body cstmbody text-center">
                      <img src="assets/images/cheque.png" alt="Cheque" /><label for="polnum" class="auto_height no_margin"
                        style="font-weight: bold;">&nbsp;&nbsp;Cheque / Demand
                        Draft</label>
                    </div>
                  </div>
                  <br>
                  <tbody [formGroup]="dualCheckForm">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label class="auto_height no_margin">Proposal Number</label>
                        <input type="text" class="form-control" formControlName="proposalNo"/>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label class="auto_height no_margin">Cheque Number</label>
                        <input type="text" class="form-control" formControlName="chequeNo" (input)="validateCheque(dualCheckForm)"/>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label class="auto_height no_margin">Cheque Amount</label>
                        <input type="number" class="form-control" formControlName="chequeAmount" (input)="validateCheque(dualCheckForm)"/>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label class="auto_height no_margin">Cheque Date</label>
                        <!-- <input type="date" class="form-control" [min]=minChequeDate [max]=maxChequeDate
                        formControlName="chequeDate"  (change)="validateCheque(dualCheckForm)"/> -->
                        <mat-form-field class="example-full-width">
                          <input matInput class="form-control" style="background: none;" [min]="minChequeDate" [max]="maxChequeDate"
                            [matDatepicker]="picker" formControlName="chequeDate" (dateChange)="validateCheque(dualCheckForm)">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label class="auto_height no_margin">Bank Name</label>
                        <input type="text" class="form-control" formControlName="bankName"
                          (input)="selectBank($event)" (change)="validateCheque(dualCheckForm)"/>
                        <ul *ngIf="filterData">
                          <li *ngFor="let bank of filterData" (click)="selectedBankList(bank)">
                            {{bank.Value}}
                          </li>
                        </ul>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label class="auto_height no_margin">Branch Name</label>
                        <input type="text" class="form-control" formControlName="branchName"
                          (input)="selectBranch($event)" (change)="validateCheque(dualCheckForm)"/>
                        <ul *ngIf="filterBranchData">
                          <li *ngFor="let branch of filterBranchData" (click)="selectedBranchList(branch)">
                            {{branch.Value}}
                          </li>
                        </ul>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label for="sltpid1" class="auto_height no_margin">Select Details of PID 1 (Payment ID- Untagged
                          Amt.)</label>
                        <div class="row">
                          <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 form-group">
                            <select id="sltpid1" class="custom-select" style="padding-left:15px;" formControlName="PID1"
                              (change)="selectPID($event)">
                              <option class="optionBG" *ngFor="let PID of PIDData" value={{PID.PaymentID}}>
                                {{PID.PaymentID}}&nbsp;&#45;&nbsp;&#8377;{{PID.TaggedAmount}}&nbsp;&#45;&nbsp;{{PID.PaymentMode}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label for="sltpid1" class="auto_height no_margin">Select Details of PID 2 (Payment ID- Untagged
                          Amt.)</label>
                        <div class="row">
                          <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 form-group">
                            <select id="sltpid1" class="custom-select" style="padding-left:15px;" formControlName="PID2"
                              (change)="selectPID1($event)">
                              <option class="optionBG" *ngFor="let PID of filterPID" value={{PID.PaymentID}} [disabled]="paymentDone">
                                {{PID.PaymentID}}&nbsp;&#45;&nbsp;&#8377;{{PID.TaggedAmount}}&nbsp;&#45;&nbsp;{{PID.PaymentMode}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label for="sltpid1" class="auto_height no_margin">Select Details of PID 3 (Payment ID- Untagged
                          Amt.)</label>
                        <div class="row">
                          <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 form-group">
                            <select id="sltpid1" class="custom-select" style="padding-left:15px;" formControlName="PID3"
                              (change)="selectPID2($event)">
                              <option class="optionBG" *ngFor="let PID of filterPID1" value={{PID.PaymentID}} [disabled]="paymentDone">
                                {{PID.PaymentID}}&nbsp;&#45;&nbsp;&#8377;{{PID.TaggedAmount}}&nbsp;&#45;&nbsp;{{PID.PaymentMode}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label for="sltpid1" class="auto_height no_margin">Select Details of PID 4 (Payment ID- Untagged
                          Amt.)</label>
                        <div class="row">
                          <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 form-group">
                            <select id="sltpid1" class="custom-select" style="padding-left:15px;" formControlName="PID4"
                              (change)="selectPID3($event)">
                              <option class="optionBG" *ngFor="let PID of filterPID2" value={{PID.PaymentID}} [disabled]="paymentDone">
                                {{PID.PaymentID}}&nbsp;&#45;&nbsp;&#8377;{{PID.TaggedAmount}}&nbsp;&#45;&nbsp;{{PID.PaymentMode}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group label">
                        <label for="sltpid1" class="auto_height no_margin">Select Details of PID 5 (Payment ID- Untagged
                          Amt.)</label>
                        <div class="row">
                          <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11 form-group">
                            <select id="sltpid1" class="custom-select" style="padding-left:15px;" formControlName="PID5"
                              (change)="selectPID4($event)">
                              <option class="optionBG" *ngFor="let PID of filterPID3" value={{PID.PaymentID}} [disabled]="paymentDone">
                                {{PID.PaymentID}}&nbsp;&#45;&nbsp;&#8377;{{PID.TaggedAmount}}&nbsp;&#45;&nbsp;{{PID.PaymentMode}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 form-group">
                      <button type="button" id="btnSave" class="cstmbtn" (click)="cancelPay($event)">Cancel</button>
                      <button type="button" id="btnSave" class="cstmbtn" (click)="makePay(dualCheckForm)">Pay Now</button>
                    </div>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
        <section class="container accordsec" *ngIf="paymentMode == 'paymentLink'">
          <div id="accordion">
            <div class="card">
              <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                  <h5 class="text-center">
                    <img src="assets/images/https.png" alt="Icon" class="mr-3" /> Send Payment Link
                  </h5>
                  <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7 col-12 form-group">
                      <label for="prdName" class="mb-3 auto_height">Send Via</label>
                      <div class="radioboxdiv2">
                        <ul>
                          <li class="mr-3">
                            <input type="radio" id="radioEmail" name="radsendvia" checked="checked" />
                            <label for="radioEmail" (click)="showPaymentLink('email')">Email</label>
                          </li>
                          <li>
                            <input type="radio" id="radioMob" name="radsendvia" />
                            <label for="radioMob" (click)="showPaymentLink('mobileNo')">Mobile Number</label>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 form-group" *ngIf="this.showEmail">
                      <label for="txtEmail" class="auto_height no_margin">Enter Email ID</label>
                      <input type="email" class="form-control" id="txtEmail" [(ngModel)]="paymentLinkEmail" placeholder="To:" />
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 form-group" *ngIf="this.showMobile">
                      <label for="txtEmail" class="auto_height no_margin">Enter Mobile Number</label>
                      <input type="number" class="form-control" id="txtEmail" [(ngModel)]="paymentLinkMobile" placeholder="Mobile Number" />
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="button" id="btnCancel" class="cstmbtn" (click)="cancelPay($event)">Cancel</button>
                    <button type="button" id="btnEmail" class="cstmbtn" (click)="makePay('ABC')">{{this.showEmail? 'Email':'Send'}}</button>
                  </div>
                </div>              
              </div>
            </div>
          </div>
        </section>
        <div id="myNav6" class="overlay">
          <div class="overlay-content">
            <div style="margin-top: 15%; padding: 0 15%;">
              <!-- class="container-fluid maindiv" -->
              <div class="row" style="margin-bottom: 0px;">
                <section class="container accordsec">
                  <div id="accordion">
                    <div class="card" style="margin-top: 15px; background: #fff">
                      <div class="collapse show" *ngIf="emailRes">
                        <div class="card-body" style="padding: 5px 5px">
                          <div class="row">
                            <div class="col-12 form-group">
                              <small>Payment will be completed on the Customer Portal</small>
                            </div>
                          </div>
                          <div class="text-center twobtns" style="margin-top:5px;">
                              <button type="button" id="btnPay" class="cstmbtn"
                                (click)="openPortal($event)">OK</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <script src="assets/payment/js/classie.js"></script>
  <script>
    (function (window) {
      'use strict';
      var body = document.body,
        mask = document.createElement("div"),
        toggleSlideLeft = document.querySelector(".toggle-slide-left"),
        activeNav;
      mask.className = "mask";

      /* slide menu left */
      toggleSlideLeft.addEventListener("click", function () {
        classie.add(body, "sml-open");
        document.body.appendChild(mask);
        activeNav = "sml-open";
      });

      /* hide active menu if mask is clicked */
      mask.addEventListener("click", function () {
        classie.remove(body, activeNav);
        activeNav = "";
        document.body.removeChild(mask);
      });

      /* hide active menu if close menu button is clicked */
      [].slice.call(document.querySelectorAll(".close-menu")).forEach(function (el, i) {
        el.addEventListener("click", function () {
          classie.remove(body, activeNav);
          activeNav = "";
          document.body.removeChild(mask);
        });
      });
    })(window);
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>