.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  .imgClass{
    width: 48px;
    height: 48px;
  }
  .underLine {
    border-bottom: ridge
  }
  
  .overlay-content {
    position: relative;
    // top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 15%;
    right: 45px;
    font-size: 60px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  // tr:nth-child(even) {
  //   background-color: #dddddd;
  // }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  mat-datepicker-toggle .mat-button-wrapper{
    // background: transparent url(../../../../assets/images/calendar.png) no-repeat center center;
    padding: 4px !important;
}

.maindiv .accordsec .card .card-body .custom-select {
  padding-right: 17px;
  background: url(../../../../assets/images/down_arrow.png) no-repeat right center/14px !important;
}