<ion-content>
 
      <head>
          <title>Sign In - ICICI Lombard</title>
          <meta charset="utf-8" />
          <meta name="theme-color" content="#931f1f" />
          <meta name="msapplication-navbutton-color" content="#931f1f" />
          <meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
          <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
          <link rel="stylesheet" href="/src/assets/scss/style.css" />
        </head>

  <body>
    <div class="container-fluid signdiv">
        <div class="row">
          <div class="col-12 text-center">
            <div class="logodiv">
              <a href="#"><img src="assets/images/logo.png" alt="ICICI Lombard" width="240" /></a>
            </div>
          </div>
          <form class="text-center formdiv" [formGroup]="loginForm">
              <h1>Sign in to get started</h1>

                      <br>
                      <div class="wrap-input100">
                          <ion-label>User Name :</ion-label>
                          <ion-input formControlName="userName"></ion-input>
                      </div>       
                      <div class="wrap-input100">
                          <ion-label>Password :</ion-label>
                          <ion-input type="Password" formControlName="passWord"></ion-input>
                      </div>
                      <!-- <div class="container-login100-form-btn">
                          <ion-button expand="full" shape="round" (click)="login(loginForm)">Login</ion-button>
                      </div> -->
                      <div>
                          <input type="submit" value="Sign in" (click)="login(loginForm)" class="btn-block loginbtn" />
                        </div>
                    
                  
          </form>
    </div>
    </div>
  </body>

</ion-content>
