<head>
  <title>Travel Premium - ICICI Lombard</title>
  <meta charset="utf-8" />
  <meta name="theme-color" content="#931f1f" />
	<meta name="msapplication-navbutton-color" content="#931f1f" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#931f1f" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="assets/travel/scss/style.css" /> -->
</head>
<body>
  <aside class="menu slide-menu-left">
    <div class="leftlogodiv">
      <img src="assets/images/logo-white.png" width="150" alt="ICICI Lombard" />
    </div>
    <div id="leftaccord" class="leftaccordmenu">
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse">
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929"><path d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z"/></svg>
          </a>
        </div>
        <div id="leftcollapseOne" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a>submenu 1</a>
            </li>
            <li>
              <a>submenu 2</a>
            </li>
            <li>
              <a>submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" >
            My transactions
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 284.929 284.929"><path d="M282.082 76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856-2.471 0-4.661.95-6.563 2.856L142.466 174.441 30.262 62.241c-1.903-1.906-4.093-2.856-6.567-2.856-2.475 0-4.665.95-6.567 2.856L2.856 76.515C.95 78.417 0 80.607 0 83.082c0 2.473.953 4.663 2.856 6.565l133.043 133.046c1.902 1.903 4.093 2.854 6.567 2.854s4.661-.951 6.562-2.854L282.082 89.647c1.902-1.903 2.847-4.093 2.847-6.565 0-2.475-.945-4.665-2.847-6.571z"/></svg>
          </a>
        </div>
        <div id="leftcollapseTwo" class="collapse" data-parent="#leftaccord">
          <ul class="list-unstyled leftsubmenus">
            <li>
              <a>submenu 1</a>
            </li>
            <li>
              <a>submenu 2</a>
            </li>
            <li>
              <a>submenu 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="card-link">My transactions</a>
        </div>
      </div>
    </div>
  </aside>
  <header class="container-fluid fixed-top">
    <div class="row" style="margin-bottom: 0px;">
      <div class="container">
        <div class="row" style="margin-bottom: 0px;">
          <div class="col-10">
            <h1>
              <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
            </h1>
          </div>
          <div class="col-2 text-center twobtns">
            <a (click)="home($event)" class="auto_height"><span style="font-weight: bold; color:white;">HOME</span></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <ion-content>
  <div class="container-fluid maindiv">
    <div class="row" style="margin-bottom: 0px;">
      <section class="container headingsec">
        <h2>Premium</h2>
      </section>
      <section class="container accordsec">
        <div id="accordion">
          <div class="card">
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body cstmbody text-center">
                <table class="premTable">
                  <thead>
                    <tr>
                      <th class="text-center" colspan="2">
                          Total Premium Amount
                        <!-- <a  title="Share" class="float-right">
                          <img src="assets/travel/images/share.png" alt="Share" />
                        </a> -->
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center" colspan="2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.333 24.053"><path d="M10.873 2.272h3.948L16.333 0H1.512L0 2.272h2.573c2.606 0 5.011.2 5.973 2.381H1.512L0 6.926h8.829v.015c0 1.633-1.357 4.138-5.839 4.138H.822v2.123l8.684 10.854h3.867L4.388 12.824c3.7-.2 7.17-2.267 7.67-5.9h2.763l1.512-2.273h-4.315a5.02 5.02 0 0 0-1.145-2.379z" fill="#4b4b4b"/></svg>
                        <strong>{{response.PremiumPayable}}</strong>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="text-left">
                        <label>Basic Premium</label>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401.998 401.998"><path d="M326.62 91.076c-1.711-1.713-3.901-2.568-6.563-2.568h-48.82c-3.238-15.793-9.329-29.502-18.274-41.112h66.52c2.669 0 4.853-.856 6.57-2.565 1.704-1.712 2.56-3.903 2.56-6.567V9.136c0-2.666-.855-4.853-2.56-6.567C324.334.859 322.15 0 319.481 0H81.941c-2.666 0-4.853.859-6.567 2.568-1.709 1.714-2.568 3.901-2.568 6.567v37.972c0 2.474.904 4.615 2.712 6.423s3.949 2.712 6.423 2.712h41.399c40.159 0 65.665 10.751 76.513 32.261H81.941c-2.666 0-4.856.855-6.567 2.568-1.709 1.715-2.568 3.901-2.568 6.567v29.124c0 2.664.855 4.854 2.568 6.563 1.714 1.715 3.905 2.568 6.567 2.568h121.915c-4.188 15.612-13.944 27.506-29.268 35.691-15.325 8.186-35.544 12.279-60.67 12.279H81.941c-2.474 0-4.615.905-6.423 2.712-1.809 1.809-2.712 3.951-2.712 6.423v36.263c0 2.478.855 4.571 2.568 6.282 36.543 38.828 83.939 93.165 142.182 163.025 1.715 2.286 4.093 3.426 7.139 3.426h55.672c4.001 0 6.763-1.708 8.281-5.141 1.903-3.426 1.53-6.662-1.143-9.708-55.572-68.143-99.258-119.153-131.045-153.032 32.358-3.806 58.625-14.277 78.802-31.404 20.174-17.129 32.449-39.403 36.83-66.811h47.965c2.662 0 4.853-.854 6.563-2.568 1.715-1.709 2.573-3.899 2.573-6.563V97.646c0-2.669-.858-4.856-2.573-6.57z" data-original="#000000" data-old_color="#0f0f0f" fill="#0f0f0f"/></svg>
                        <span>{{response.BasicPremium}}</span>
                      </td>
                      <td class="text-right">
                        <label>GST</label>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401.998 401.998"><path d="M326.62 91.076c-1.711-1.713-3.901-2.568-6.563-2.568h-48.82c-3.238-15.793-9.329-29.502-18.274-41.112h66.52c2.669 0 4.853-.856 6.57-2.565 1.704-1.712 2.56-3.903 2.56-6.567V9.136c0-2.666-.855-4.853-2.56-6.567C324.334.859 322.15 0 319.481 0H81.941c-2.666 0-4.853.859-6.567 2.568-1.709 1.714-2.568 3.901-2.568 6.567v37.972c0 2.474.904 4.615 2.712 6.423s3.949 2.712 6.423 2.712h41.399c40.159 0 65.665 10.751 76.513 32.261H81.941c-2.666 0-4.856.855-6.567 2.568-1.709 1.715-2.568 3.901-2.568 6.567v29.124c0 2.664.855 4.854 2.568 6.563 1.714 1.715 3.905 2.568 6.567 2.568h121.915c-4.188 15.612-13.944 27.506-29.268 35.691-15.325 8.186-35.544 12.279-60.67 12.279H81.941c-2.474 0-4.615.905-6.423 2.712-1.809 1.809-2.712 3.951-2.712 6.423v36.263c0 2.478.855 4.571 2.568 6.282 36.543 38.828 83.939 93.165 142.182 163.025 1.715 2.286 4.093 3.426 7.139 3.426h55.672c4.001 0 6.763-1.708 8.281-5.141 1.903-3.426 1.53-6.662-1.143-9.708-55.572-68.143-99.258-119.153-131.045-153.032 32.358-3.806 58.625-14.277 78.802-31.404 20.174-17.129 32.449-39.403 36.83-66.811h47.965c2.662 0 4.853-.854 6.563-2.568 1.715-1.709 2.573-3.899 2.573-6.563V97.646c0-2.669-.858-4.856-2.573-6.57z" data-original="#000000" data-old_color="#0f0f0f" fill="#0f0f0f"/></svg>
                        <span>{{response.TotalGSTAmt}}</span>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div id="collapseTwo" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group statediv">
                    <label for="prdName" class="auto_height no_margin">Product Name</label>
                    <input type="text" class="form-control" id="prdName" value="International Travel" disabled="disabled" />
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group statediv">
                    <label for="quoteNo" class="auto_height no_margin">Quote No</label>
                    <input type="text" class="form-control" id="quoteNo" value={{response.PF_QuoteID}} disabled="disabled" />
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group statediv">
                    <label for="subPrdName" class="auto_height no_margin">Sub-Product Name</label>
                    <input type="text" class="form-control" id="subPrdName" value="{{request.coverageType}}" disabled="disabled" />
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group">
                    <label class="auto_height">Number of Traveller</label>
                    <div class="chkboxdiv">
                      <div class="form-check form-check-inline">
                        <input type="checkbox" id="rdlNoTrvlrs1" checked="checked" disabled="disabled" />
                        <label for="rdlNoTrvlrs1"></label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 form-group">
                    <label for="planeType" class="auto_height no_margin">Plane Type</label>
                    <input type="text" class="form-control" id="planeType" value={{planDetails.PlanName}} disabled="disabled" />
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" id="btnRecalc" class="cstmbtn" (click)="recalculate($event)">Re-Calculate</button>
                  <button type="button" id="btnConvert" class="cstmbtn" (click)="convertToPolicy($event)">Convert to Policy</button>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</ion-content>
  <script src="assets/js/classie.js"></script>
  <script>
    (function (window) {
      'use strict';
      var body = document.body,
        mask = document.createElement("div"),
        toggleSlideLeft = document.querySelector(".toggle-slide-left"),
        activeNav;
      mask.className = "mask";

      /* slide menu left */
      toggleSlideLeft.addEventListener("click", function () {
        classie.add(body, "sml-open");
        document.body.appendChild(mask);
        activeNav = "sml-open";
      });

      /* hide active menu if mask is clicked */
      mask.addEventListener("click", function () {
        classie.remove(body, activeNav);
        activeNav = "";
        document.body.removeChild(mask);
      });

      /* hide active menu if close menu button is clicked */
      [].slice.call(document.querySelectorAll(".close-menu")).forEach(function (el, i) {
        el.addEventListener("click", function () {
          classie.remove(body, activeNav);
          activeNav = "";
          document.body.removeChild(mask);
        });
      });
    })(window);
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
