.box{
    background: #ad2121;
    // width: 100%;
    font-family: Roboto-Regular;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
  }

  .quote-labels{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #ad2121;
  }

  .lable{
    // width: 104px;
    // height: 34px;
    font-family: Roboto-Regular;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
  }

  .getProposal {
    width: 159.4px;
    height: 42px;
    background-image: linear-gradient(280deg, #ac3030, #881717);
    border-radius: 15px;
    font-family: ProximaNova;
    font-size: 18px;
    color: white;
  }