// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import '~materialize-css/sass/materialize';
@import '~ion-rangeslider/css/ion.rangeSlider.css';
@import '~ion-rangeslider/css/ion.rangeSlider.skinModern.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.custom-spinner-template {
    height: 50% !important;
    width: 50% !important;
    top: 26% !important;
    left: 24% !important;
}

.backGround{
    background-image: url('src/assets/images/mobile_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.loader1{
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    // display: none; 
    left: 0px;
    right: 0px;
    position: fixed;
    text-align: center;
    z-index:1000000;
    // background-color: #2b2b2bb0;
    background-color: rgba(0,0,0,0.5);
}




.mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored{
    margin-bottom: 0px;
    border: none !important;
    height: auto;    
    box-shadow: none !important;
}

.mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored .mat-form-field-infix{
    min-width: 100%;    
}

mat-datepicker-toggle svg{
    visibility: hidden;
}

mat-datepicker-toggle button:focus{
    background-color: transparent !important;
    outline: none;
}
.mat-button-toggle-group {
    border: none;
}
mat-datepicker-toggle .mat-button-wrapper{
    background: transparent url(assets/images/calendar.png) no-repeat right center/16px;
    // padding: 5px 15px !important;
    padding: 1px !important;
}

mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix{
    padding: 0px;
}

.maindiv .accordsec .card .card-body .custom-select1 {
    padding-right: 17px;
    /** right **/
    background: url(assets/images/down_arrow.png) no-repeat right center/14px !important;
  }

.optionBG{
    background-color: #fff  !important;
}

.label1{
    // background: red;
    padding-right: 17%;
}

.select1{
    width: 65% !important;
}

mat-step-header {
    width: 2% !important;
    margin: 0 -25px;
}

.mat-horizontal-stepper-header{
    pointer-events: none;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}
// .sc-ion-alert-md{
//     background-color: antiquewhite;
// }

